<!DOCTYPE html>
<html
  th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

<head>
  <title>Finance</title>
</head>

<body>
  <section>
    <div ng-app="AdminManagment" ng-controller="AssetFinanceController">
      <div class="breadcrumb-container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a th:href="@{/home}">
                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
              </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span class="icon-common icon-breadcrumb icon-assets"></span><span>Assets(Finance)</span>
            </li>
          </ol>
        </nav>
      </div>

      <div class="body-area" ng-show="views.list">
        <div class="body-area-header">
          <div class="row align-items-center">
            <div class="col-md-4">
              <div class="body-area-tittle">Assets(Finance)</div>
            </div>
            <div class="col-md-8 d-flex justify-content-end">
              <span><button title="Upload" class="btn btn-action btn-action-upload" ng-click="uploadModal()"><span
                    class="lbl-btn-action"></span><span
                    class="icon-common icon-btn-header icon-upload"></span></button></button></span>
            </div>
          </div>
        </div>
        <div class="body-area-content">
          <div class="user-table-container">
            <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
              <thead>
                <tr class="table-head-primary">
                  <th>SL No.</th>
                  <th>Type</th>
                  <th>Asset Tag ID</th>
                  <th>Serial No.</th>
                  <th>Model</th>
                  <th>Supplier</th>
                  <th>Manufacturer</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="asset in assets">
                  <td>{{$index + 1}}</td>
                  <td>{{asset.type}}</td>
                  <td>{{asset.asset_tag_id}}</td>
                  <td>{{asset.serial_no}}</td>
                  <td>{{asset.model}}</td>
                  <td>{{asset.supplier}}</td>
                  <td>{{asset.manufacturer}}</td>
                  <td>
                    <span style="color: #0074d9" class="user-role" ng-if="asset.status=='Active'">Active</span>
                    <span style="color: #b508d8" class="user-role" ng-if="asset.status=='Reserve'">Reserve</span>
                    <span style="color: #ff851b" class="user-role" ng-if="asset.status=='Assigned'">Assigned</span>
                    <span style="color: #ff4136" class="user-role"
                      ng-if="asset.status=='Maintenance'">Maintenance</span>
                    <span style="color: #39cccc" class="user-role" ng-if="asset.status=='Deployed'">Deployed</span>
                    <span style="color: #ffdc00" class="user-role" ng-if="asset.status=='Sale'">Sale</span>
                    <span style="color: #85144b" class="user-role" ng-if="asset.status=='Scrap'">Scrap</span>
                    <span style="color: #f012be" class="user-role" ng-if="asset.status=='Stolen'">Stolen</span>
                    <span style="color: #f115af" class="user-role" ng-if="asset.status=='Project'">Project</span>
                    <span style="color: #08f513" class="user-role" ng-if="asset.status=='Rent'">Rent</span>
                  </td>
                  <td class="d-flex">
                    <!-- <a 
                  class="btn  btn-action">Entry  <span class="btn">

                  </span> </a> -->


                    <a title="Entry" ng-if="asset.finance_details==false" ng-click="AddFinanceEntry(asset.id)"
                      class="btn btn-action btn-action-add">
                      <span class="lbl-btn-action"></span>
                      <span class="icon-common icon-btn icon-add-circle"></span>
                    </a>
                    <a title="Edit" ng-if="asset.finance_details==true" ng-click="editFinanceEntry(asset.id)"
                      class="btn btn-action btn-action-edit">
                      <span class="lbl-btn-action"></span>
                      <span class="icon-common icon-btn icon-edit"></span>
                    </a>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- ====================Modal View======================= -->


      <div class="modal fade" id="Asset_finance_entry" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                <span ng-if="form.id == null ||form.id == undefined">Add Asset Finance</span>
                <span ng-if="form.id != null ||form.id != undefined">Edit Asset Finance </span>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span class="icon-common icon-modal-header-action  icon-x"></span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" name="addAdmin" role="form" ng-submit="SaveFinanceEntry()"
                autocomplete="off">
                <div class="row">
                  <div class="col-lg-12 col-sm-6">
                    <h5>Classification </h5>
                  </div>
                  <hr />
                  <div class="col-lg-4 col-sm-6">
                    <div class="form-group">
                      <label class="text-dark lbl-medium" for="planName">
                        Asset Category: <span class="text-danger">*</span>
                      </label>
                      <select name="assetCatId" ng-model="form.assetCategoryId" class="form-control"
                        ng-options="asset_cat.id as asset_cat.name for asset_cat in asset_cats"
                        ng-change="fetchSubcategory(form.assetCategoryId)" required>
                        <option disabled></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <div class="form-group">
                      <label class="text-dark lbl-medium" for="planName">
                        Asset Sub Category: <span class="text-danger">*</span>
                      </label>
                      <select name="assetSubCatId" ng-model="form.assetSubCategoryId" class="form-control"
                        ng-options="asset_subcat.id as asset_subcat.name for asset_subcat in asset_subcats"
                        ng-change="fetchLife(form.assetSubCategoryId,asset_subcats)" required>
                        <option disabled></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <div class="form-group">
                      <label class="text-dark lbl-medium" for="planName">
                        Useful Life(Years): <span class="text-danger">*</span>
                      </label>
                      <input name="Useful Life(Years)" readonly type="number" ng-model="form.life" class="form-control"
                        placeholder="Useful Life(Years)" required />
                    </div>
                  </div>

                  <br />
                  <hr />

                  <div class="col-lg-12 col-sm-6">
                    <h5 class="d-flex align-items-center">
                      <span class="me-2">Depreciation</span>
                      <span class="d-inline-flex">
                        <label class="switch">
                          <input
                            ng-disabled="form.id != null ||form.id != undefined || form.assetSubCategoryId == null || form.assetSubCategoryId == undefined"
                            class="user" type="checkbox" data-id="2" ng-change="salvageValueFinder()"
                            ng-model="form.depreciableAsset" name="status" checked="">
                          <span class="knob"></span>
                        </label>
                      </span>
                    </h5>
                  </div>
                  <hr />

                  <div class="col-lg-4 col-sm-6" ng-if="form.depreciableAsset == true">
                    <div class="form-group">
                      <label class="text-dark lbl-medium" for="planName">
                        Value: <span class="text-danger">*</span>
                      </label>
                      <input ng-disabled="form.id != null ||form.id != undefined" name="cost" type="number" step="0.01"
                        min="0.00" ng-model="form.cost" class="form-control" placeholder="Enter Cost"
                        ng-required="form.depreciableAsset == true" />
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-6" ng-if="form.depreciableAsset == true">
                    <div class="form-group">
                      <label class="text-dark lbl-medium" for="planName">
                        Put To Use Date Availability:
                        <span class="text-danger">*</span>
                      </label>
                      <select ng-disabled="form.id != null ||form.id != undefined" name="depreciableAsset"
                        ng-model="form.putToUseDateAvailability" class="form-control"
                        ng-required="form.depreciableAsset == true">
                        <option disabled></option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-6"
                    ng-show="form.putToUseDateAvailability == 'true' && form.depreciableAsset == true">
                    <div class="form-group">
                      <label class="text-dark lbl-medium" for="planName">
                        Put To Use Date: <span class="text-danger">*</span>
                      </label>
                      <input ng-disabled="form.id != null ||form.id != undefined" name="dateAcquired" type="text"
                        ng-model="form.putToUseDate" id="datepicker2" class="form-control"
                        placeholder="Enter Date Acquired" pattern="\d{4}-\d{2}-\d{2}"
                        title="Please enter a date in the format YYYY-mm-dd"
                        ng-required="form.depreciableAsset == true && form.putToUseDateAvailability == 'true'" />
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-6" ng-if="form.depreciableAsset == true">
                    <div class="form-group">
                      <label class="text-dark lbl-medium" for="planName">
                        Depreciable Method: <span class="text-danger">*</span>
                      </label>
                      <select ng-disabled="form.id != null ||form.id != undefined" name="depreciableAsset"
                        ng-model="form.depreciableMethod" class="form-control"
                        ng-required="form.depreciableAsset == true">
                        <option></option>
                        <option value="SLD">Straight Line Depreciation</option>
                        <option value="WDVD">Written-down value Depreciation</option>
                      </select>
                    </div>

                  </div>
                  <div class="col-lg-4 col-sm-6" ng-if="form.depreciableAsset == true">
                    <div class="form-group">
                      <label class="text-dark lbl-medium" for="planName">
                        Asset Life: <span class="text-danger">*</span>
                      </label>
                      <input ng-disabled="form.id != null ||form.id != undefined" name="assetLife" type="number"
                        ng-model="form.assetLife" class="form-control" placeholder="Enter Asset Life" min="0"
                        ng-required="form.depreciableAsset == true" />
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-6" ng-if="form.depreciableAsset == true">
                    <div class="form-group">
                      <label class="text-dark lbl-medium" for="planName">
                        Salvage Value: <span class="text-danger">*</span>
                      </label>
                      <input ng-disabled="form.id != null ||form.id != undefined" name="salvageValue" type="number"
                        step="0.01" min="0.00" ng-model="form.salvageValue" class="form-control"
                        placeholder="Enter Salvage Value" ng-required="form.depreciableAsset == true" />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-modal-action"
                    data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-success btn-modal-action">Save</button>
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal fade" id="upload_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                <span>Upload Asset Finance</span>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span class="icon-common icon-modal-header-action  icon-x"></span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" name="addAdmin" role="form" ng-submit="SaveInsuranceAmc()"
                autocomplete="off">
                <div class="row">
                  <div class="col-12 mb-5">
                    <button class="btn btn-action-modal btn-action-categories"
                      ng-click="fetchAssetCategoryIds()">Categories</button>
                  </div>
                  <div class="col-12 mb-5">
                    <div class="lbl-btn-info">Download the template for the excel file:</div>
                    <button class="btn btn-action-modal btn-action-download" ng-click="downloadExcel()">
                      <span class="lbl-btn-action">Template</span><span
                        class="icon-common icon-btn-lg icon-download"></span>
                    </button>
                  </div>

                  <!-- <div ng-if="form.activeUpload==true" class="col-lg-4 col-sm-6"> -->
                  <!-- <div class="col-12">
                <div class="input-container">
                  <input type="file" id="fileInput" file-model="excelFile" accept=".xlsx" class="input-file" />
                </div>
              </div> -->
                  <div class="col-12 mb-5">
                    <div class="row">
                      <div class="col-9">
                        <input class="form-control" type="file" id="fileInput" file-model="excelFile" accept=".xlsx">
                      </div>
                      <div class="col-3">
                        <button class="btn btn-action btn-action-upload-min" ng-click="uploadExcel(excelFile,'LAPTOP')">
                          <span class="icon-common icon-btn-lg icon-upload"></span>
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-modal-action"
                    data-bs-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="Dropdown-details" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                <span>DropDown Value</span>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span class="icon-common icon-modal-header-action  icon-x"></span>
              </button>
            </div>
            <div class="body-area-content">
              <div class="user-table-container">
                <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                  <thead>
                    <tr class="table-head-primary">
                      <th>SL No.</th>
                      <th>Category Name</th>
                      <th>Category Id</th>
                      <th>SubCategory Name</th>
                      <th>SubCategory Id</th>
                      <th>Life</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="asset in typeDropDown">
                      <td>{{$index + 1}}</td>
                      <td>{{asset.categoryName}}</td>
                      <td>{{asset.categoryId}}</td>
                      <td>{{asset.subCategoryName}}</td>
                      <td>{{asset.subCategoryId}}</td>
                      <td>{{asset.life}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-modal-action"
                    data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>





  </section>


  <script src="private/admin/finance.js"></script>

  <script>
    // Initialize datepickers individually
    for (let i = 1; i <= 14; i++) {
      const datepickerId = `datepicker${i}`;
      flatpickr(`#${datepickerId}`, {
        dateFormat: "Y-m-d",
        allowInput: true,
        disableMobile: true,
      });
    }
  </script>
</body>

</html>