<!DOCTYPE html>
<html
  th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

<head>
  <title>Insurance</title>
</head>

<body>

  <section>


    <div ng-app="AdminManagment" ng-controller="AssetInsuranceController">
      <div class="breadcrumb-container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a th:href="@{/home}">
                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
              </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span class="icon-common icon-breadcrumb icon-insurance"></span><span>Due Insurance</span>
            </li>
          </ol>
        </nav>
      </div>

      <div class="body-area" ng-show="views.list">
        <div class="body-area-header">
          <div class="row align-items-center">
            <div class="col-md-4">
              <div class="body-area-tittle">Due Insurance</div>
            </div>
            <div class="col-md-8 d-flex justify-content-end">
            </div>
          </div>
        </div>
        <div class="body-area-content">
          <div class="user-table-container">
            <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
              <thead>
                <tr class="table-head-primary">
                  <th>SL No.</th>
                  <th>Type</th>
                  <th>Asset Tag ID</th>
                  <th>Serial No.</th>
                  <th>Model</th>
                  <th>Supplier</th>
                  <th>Manufacturer</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="asset in assets">
                  <td>{{$index + 1}}</td>
                  <td>{{asset.type}}</td>
                  <td>{{asset.asset_tag_id}}</td>
                  <td>{{asset.serial_no}}</td>
                  <td>{{asset.model}}</td>
                  <td>{{asset.supplier}}</td>
                  <td>{{asset.manufacturer}}</td>
                  <td class="d-flex">
                    <a title="Add" ng-click="AddAmcInsurance(asset.id,'INSURANCE')"
                      class="btn btn-action btn-action-add"><span class="lbl-btn-action"></span><span
                        class="icon-common icon-btn icon-add-circle"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>



      <!-- ====================Modal View======================= -->

      <div class="modal fade" id="update_amc_insurence_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                <span ng-if="form.type=='AMC'">Update AMC</span>
                <span ng-if="form.type=='INSURANCE'">Add Insurance</span>
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span class="icon-common icon-modal-header-action  icon-x"></span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" name="addAdmin" role="form" ng-submit="SaveInsuranceAmc()"
                autocomplete="off">
                <div class="row">
                  <div ng-if="form.type=='INSURANCE'" class="col-lg-4 col-sm-6">
                    <div class="form-group">
                      <label class="text-dark lbl-medium" for="name">
                        Name: <span class="text-danger">*</span>
                      </label>
                      <input name="name" type="text" ng-model="form.insuranceName" class="form-control"
                        placeholder="Enter Name" ng-change="form.name = (form.name | uppercase)" required />
                    </div>
                  </div>
                  <div ng-if="form.type=='INSURANCE'" class="col-lg-4 col-sm-6">
                    <div class="form-group">
                      <label class="text-dark lbl-medium" for="name">
                        Amount: <span class="text-danger">*</span>
                      </label>
                      <input name="name" type="number" step="0.01" min="0" ng-model="form.amount" class="form-control"
                        placeholder="Amount" ng-change="subform.name = (subform.name | uppercase)" required />
                    </div>
                  </div>
                  <div ng-if="form.type=='AMC'" class="col-lg-4 col-sm-6">
                    <div class="form-group">
                      <label class="text-dark lbl-medium" for="note">
                        Service:
                      </label>
                      <select name="supplierId" ng-model="form.service" class="form-control select2"
                        ng-options="supplier.name as supplier.name for supplier in suppliers">
                        <option disabled></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <div class="form-group">
                      <label class="text-dark lbl-medium" for="planName">
                        Start Date: <span class="text-danger">*</span>
                      </label>
                      <input name="dateAcquired" type="text" ng-model="form.startDate" id="datepicker5"
                        class="form-control" placeholder="Start Date" required />
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <div class="form-group">
                      <label class="text-dark lbl-medium" for="planName">
                        End Date: <span class="text-danger">*</span>
                      </label>
                      <input name="dateAcquired" type="text" ng-model="form.endDate" id="datepicker6"
                        class="form-control" placeholder="End Date" required />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-modal-action"
                    data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-success btn-modal-action">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>




  </section>


  <script src="private/admin/finance.js"></script>

  <script>
    // Initialize datepickers individually
    for (let i = 1; i <= 14; i++) {
      const datepickerId = `datepicker${i}`;
      flatpickr(`#${datepickerId}`, {
        dateFormat: "Y-m-d",
        allowInput: true,
        disableMobile: true,
      });
    }
  </script>
</body>

</html>