<!DOCTYPE html>
<html
    th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

<head>
    <title>Call log</title>
</head>

<body>

    <section>
        <div ng-app="AdminManagment" ng-controller="CallLogController">
            <div class="breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/home}">
                                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="icon-common icon-breadcrumb icon-call-log"></span><span>Call log</span>
                        </li>
                    </ol>
                </nav>
            </div>

            <div class="body-area" ng-show="views.list">
                <div class="body-area-header">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="body-area-tittle">Call log</div>
                        </div>
                    </div>
                </div>
                <div class="body-area-content">
                    <div class="user-table-container">
                        <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                            <thead>
                                <tr class="table-head-primary">
                                    <th>SL No.</th>
                                    <th>Type</th>
                                    <th>Asset Tag Id</th>
                                    <th>Serial Number</th>
                                    <th>Model</th>
                                    <th>Problem</th>
                                    <th>Time Stamp</th>
                                    <th>User</th>
                                    <th>User Image</th>
                                    <th>Department</th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="log in logs">
                                    <td>{{$index + 1}}</td>
                                    <td>{{log.type}}</td>
                                    <td>{{log.asset_tag_id}}</td>
                                    <td>{{log.serial_no}}</td>
                                    <td>{{log.model}}</td>
                                    <td>{{log.note}}</td>
                                    <td>{{ log.time_stamp | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                    <td>{{log.employee}}</td>
                                    <td>
                                        <div class="icon-profile-container icon-profile-lg">
                                            <img ng-if="log.image_link != null" ng-src="{{ log.image_link }}"
                                                alt="Employee Image">
                                            <img ng-if="log.image_link == null" src="assets/icons/user.svg"
                                                alt="Employee Image">
                                        </div>
                                    </td>
                                    <td>{{log.department}}</td>
                                    <td>
                                        <span style="color: #055183" class="user-role"
                                            ng-if="log.status=='OPEN'">{{log.status}}</span>
                                        <span style="color: #510bf3" class="user-role"
                                            ng-if="log.status=='ASSIGN'">{{log.status}}</span>
                                        <span style="color: #e00909" class="user-role"
                                            ng-if="log.status=='DISMISS'">{{log.status}}</span>
                                        <span style="color: #0bf351" class="user-role"
                                            ng-if="log.status=='RESOLVED'">{{log.status}}</span>
                                        <span style="color: #9b13bd" class="user-role"
                                            ng-if="log.status=='PENDING'">{{log.status}}</span>
                                        <span style="color: #055040" class="user-role"
                                            ng-if="log.status=='MAINTENANCE'">{{log.status}}</span>
                                    </td>
                                    <td>
                                        <span class="user-role" ng-if="log.status=='OPEN'">--</span>
                                        <span class="user-role" ng-if="log.status=='MAINTENANCE'">--</span>
                                        <span class="user-role"
                                            ng-if="log.status=='ASSIGN'">{{log.assign_to_name}}</span>
                                        <span class="user-role"
                                            ng-if="log.status=='DISMISS'">{{log.dismiss_by_name}}</span>
                                        <span class="user-role"
                                            ng-if="log.status=='RESOLVED'">{{log.resolved_by_name}}</span>
                                        <span class="user-role" ng-if="log.status=='PENDING'">{{log.reason}}</span>
                                    </td>

                                    <td>
                                        <div class="dropdown">
                                            <a class="btn btn-icon btn-option" href="#" role="button"
                                                id="userActionOption" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="icon-common icon-option icon-btn-circle"></span>
                                            </a>

                                            <ul class="dropdown-menu" aria-labelledby="userActionOption">
                                                <li ng-if="log.status!='MAINTENANCE'">
                                                    <a class="dropdown-item"
                                                        ng-click="editAssetStatus(log.id,log.assetid,'Maintenance')"><span
                                                            class="icon-common icon-action-dropdown icon-maintenance"></span><span>Maintenance</span></a>
                                                </li>
                                                <li ng-if="log.status=='MAINTENANCE'">
                                                    <a class="dropdown-item"
                                                        ng-click="editAssetStatus(log.id,log.assetid,'Repair Out')"><span
                                                            class="icon-common icon-action-dropdown  icon-maintenance-end"></span><span>Maintenance
                                                            End</span></a>
                                                </li>
                                                <li
                                                    ng-hide="log.status =='DISMISS' || log.status =='RESOLVED' || log.status=='MAINTENANCE'">
                                                    <a class="dropdown-item" ng-click="assignService(log.id)"><span
                                                            class="icon-common icon-action-dropdown icon-edit"></span><span>Engineer
                                                            Assign</span></a>
                                                </li>
                                                <li
                                                    ng-hide="log.status =='DISMISS' || log.status =='RESOLVED' || log.status=='MAINTENANCE'">
                                                    <a class="dropdown-item" ng-click="disMissCallLog(log.id)"><span
                                                            class="icon-common icon-action-dropdown icon-delete"></span><span>Dismiss</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <!-- ====================Modal View======================= -->
            <div class="modal fade" id="Assign_Log" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span>Assign Service Engineer</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form" ng-submit="AssignServiceEngg()">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Priority: <span class="text-danger">*</span>
                                            </label>
                                            <select name="priority" ng-model="form.priority" class="form-control"
                                                required>
                                                <option disabled></option>
                                                <option value="HIGH">HIGH</option>
                                                <option value="MEDIUM">MEDIUM</option>
                                                <option value="LOW">LOW</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="planName">
                                                Engineer: <span class="text-danger">*</span>
                                            </label>
                                            <select name="supplier" ng-model="form.engineer" class="form-control"
                                                ng-options="engineer.id as engineer.name for engineer in engineers"
                                                required>
                                                <option disabled></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-modal-action"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success btn-modal-action">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal fade" id="edit_asset_status_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span>Asset Maintenance </span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form" ng-submit="SaveChnageStatus()"
                                autocomplete="off">
                                <div class="row">
                                    <div ng-if="form.type =='Maintenance'" class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="note">
                                                Service:
                                            </label>
                                            <select name="supplierId" ng-model="form.supplierId"
                                                class="form-control select2"
                                                ng-change="fetchSupplierDetail(form.supplierId)"
                                                ng-options="supplier.id as supplier.name for supplier in suppliers">
                                                <option disabled></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div ng-if="form.type =='Maintenance'" class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="note">
                                                Type:
                                            </label>
                                            <select name="supplierId" ng-model="form.maintenanceType"
                                                class="form-control select2" ng-required="form.type =='Maintenance'">
                                                <option disabled></option>
                                                <option value="Repair">Repair</option>
                                                <option value="Upgradation">Upgradation</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="note"> Note: </label>
                                            <input name="note" type="text" ng-model="form.note" class="form-control"
                                                placeholder="Enter Note"
                                                ng-change="form.note = (form.note | uppercase)" />
                                        </div>
                                    </div>
                                    <div ng-if="form.type =='Repair Out'" class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="note"> Amount: </label>
                                            <input name="note" type="number" step="0.01" min="0.00" ng-model="form.amount" class="form-control"
                                                placeholder="Enter amount" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-modal-action"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success btn-modal-action">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>



    </section>


    <script src="private/admin/service.js"></script>
</body>

</html>