<!DOCTYPE html>
<html
    th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

<head>
    <title>Manufacturer</title>
</head>

<body>

    <section>

        <div ng-app="AdminManagment" ng-controller="ManufacturerController">
            <div class="breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/home}">
                                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="icon-common icon-breadcrumb icon-maker"></span><span>Manufacturer</span>
                        </li>
                    </ol>
                </nav>
            </div>

            <div class="body-area" ng-show="views.list">
                <div class="body-area-header">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="body-area-tittle">Manufacturer</div>
                        </div>
                        <div class="col-md-6">
                            <div class="body-area-action">
                                <a ng-click="AddManufacturer()" class="float-end btn btn-icon btn-add me-2"
                                    title="Add Maker"><span class="icon-common icon-add"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-area-content">
                    <div class="user-table-container">
                        <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                            <thead>
                                <tr class="table-head-primary">
                                    <th>SL No.</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="manufacturer in manufacturers">
                                    <td>{{$index + 1}}</td>
                                    <td><span class="user-role">{{manufacturer.name}}</span></td>
                                    <td>
                                        <form method="POST">
                                            <input type="hidden" name="_token"
                                                value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                                            <label class="switch">
                                                <input class="user" type="checkbox" data-id="2"
                                                    ng-click="changeStatus(manufacturer.id)"
                                                    ng-model="manufacturer.status" name="status" checked="">
                                                <span class="knob"></span>
                                            </label>
                                        </form>
                                    </td>
                                    <td class="d-flex">
                                        <span class="me-2"><a title="Edit" ng-click="editManufacturer(manufacturer.id)"
                                                class="btn btn-action btn-action-edit"><span
                                                    class="lbl-btn-action"></span><span
                                                    class="icon-common icon-btn icon-edit"></span></a></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <!-- ====================Modal View======================= -->
            <div class="modal fade" id="add_edit_Manufacturer_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span ng-if="form.id==null || form.id==undefined">Add Manufacturer</span>
                                <span ng-if="form.id!=null && form.id!=undefined">Edit Manufacturer</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form"
                                ng-submit="addEditSaveManufacturer()">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Name: <span class="text-danger">*</span>
                                            </label>
                                            <input name="name" type="text" ng-model="form.name" class="form-control"
                                                placeholder="Enter Name" required
                                                ng-change="form.name = (form.name | uppercase)" />
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-modal-action"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success btn-modal-action">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </section>


    <script src="private/admin/master.js"></script>
</body>

</html>