<!DOCTYPE html>
<html
  th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

<head>
  <title>Asset Master</title>
  <style>
    .code-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #qrcode {
      margin-bottom: 20px;
      /* Adjust the margin as needed to create the gap */
    }
  </style>
</head>

<body>

  <section>

    <div ng-app="AdminManagment" ng-controller="AssetController">
      <div class="breadcrumb-container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a th:href="@{/home}">
                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
              </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span class="icon-common icon-breadcrumb icon-assets"></span><span>Master Assets</span>
            </li>
          </ol>
        </nav>
      </div>

      <div class="body-area" ng-show="views.list">
        <div class="body-area-header">
          <div class="row align-items-center">
            <div class="col-md-4">
              <div class="body-area-tittle">Master Assets</div>
            </div>
            <div class="col-md-8 d-flex justify-content-end">
            </div>
          </div>
        </div>
        <div class="body-area-content">
          <div class="user-table-container">
            <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
              <thead>
                <tr class="table-head-primary">
                  <th>SL No.</th>
                  <th>Type</th>
                  <th>Asset Tag ID</th>
                  <th>Serial No.</th>
                  <th>Model</th>
                  <th>Supplier</th>
                  <th>Manufacturer</th>
                  <th>Status</th>
                  <th>Active</th>
                  <th>Details</th>
                  <th sec:authorize="hasAuthority('ADMIN')">Dismiss</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="asset in assets">
                  <td>{{$index + 1}}</td>
                  <td>{{asset.type}}</td>
                  <td>{{asset.asset_tag_id}}</td>
                  <td>{{asset.serial_no}}</td>
                  <td>{{asset.model}}</td>
                  <td>{{asset.supplier}}</td>
                  <td>{{asset.manufacturer}}</td>
                  <td>
                    <span style="color: #0074d9" class="user-role" ng-if="asset.status=='Active'">Active</span>
                    <span style="color: #d90000" class="user-role" ng-if="asset.status=='IN-TRANSIT'">IN-TRANSIT</span>
                    <span style="color: #b508d8" class="user-role" ng-if="asset.status=='Reserve'">Reserve</span>
                    <span style="color: #ff851b" class="user-role" ng-if="asset.status=='Assigned'">Assigned</span>
                    <span style="color: #ff4136" class="user-role"
                      ng-if="asset.status=='Maintenance'">Maintenance</span>
                    <span style="color: #39cccc" class="user-role" ng-if="asset.status=='Deployed'">Deployed</span>
                    <span style="color: #ffdc00" class="user-role" ng-if="asset.status=='Sale'">Sale</span>
                    <span style="color: #85144b" class="user-role" ng-if="asset.status=='Scrap'">Scrap</span>
                    <span style="color: #f012be" class="user-role" ng-if="asset.status=='Stolen'">Stolen</span>
                    <span style="color: #f115af" class="user-role" ng-if="asset.status=='Project'">Project</span>
                    <span style="color: #08f513" class="user-role" ng-if="asset.status=='Rent'">Rent</span>
                  </td>

                  <td>
                    <form method="POST">
                      <input type="hidden" name="_token" value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng" />
                      <label class="switch">
                        <input
                          ng-disabled="asset.status == 'Sale' || asset.status == 'Scrap' || asset.status == 'Stolen'"
                          class="user" type="checkbox" data-id="2" ng-click="changeStatus(asset.id)"
                          ng-model="asset.active" name="active" checked="" />
                        <span class="knob"></span>
                      </label>
                    </form>
                  </td>
                  <td>
                    <span class="me-2"><a title="Details" ng-click="viewAsset(asset.id)"
                        class="btn btn-action btn-action-details"><span class="lbl-btn-action"></span><span
                          class="icon-common icon-btn icon-details"></span></a></span>
                  </td>
                  <td sec:authorize="hasAuthority('ADMIN')">
                    <span class="me-2"><a title="Delete" ng-click="dismissAsset(asset.id)"
                        class="btn btn-action btn-action-delete"><span class="lbl-btn-action"></span><span
                          class="icon-common icon-btn icon-delete"></span></a></span>
                  </td>
                </tr>
              </tbody>
              <!-- <tfoot>
            <tr class="table-head-primary">
              <th>SL No.</th>
              <th>Type</th>
              <th>Asset Tag ID</th>
              <th>Serial No.</th>
              <th>Model</th>
              <th>Supplier</th>
              <th>Manufacturer</th>
              <th>Status</th>
              <th>Active</th>
              <th>Details</th>
              <th>Dismiss</th>
            </tr>
          </tfoot> -->
            </table>
          </div>
        </div>
      </div>

      <div class="" ng-show="views.show">
        <div class="body-area" style="min-height: 0">
          <div class="body-area-header">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="body-area-tittle">Assets Details</div>
              </div>
              <div class="col-md-6">
                <div class="body-area-action">
                  <a ng-click="changeView('list')" class="float-end btn btn-icon btn-back me-2" title="Return"><span
                      class="icon-common icon-back icon-btn-circle"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="body-area" style="margin-top: 15px">
          <div class="body-area-content">
            <div class="body-area-header">
              <div class="row align-items-center">
                <div class="row">
                  <div class="col-md-10">
                    <h4>{{asset.name}}</h4>
                    <h6 id="assetTagId">Asset Tag ID: {{asset.assetTagId}}</h6>
                    <h6>Serial No.</h6>
                    <svg id="barcode"></svg>
                    <h6 id="serialNo">Serial Number: {{asset.serialNo}}</h6>
                    <button type="button" class="btn btn-page-action btn-print mb-2"
                      onclick="printElement('barcode','serialNo')">
                      <span class="lbl-btn-print">Print</span>
                      <span class="icon-common icon-btn-print icon-print"></span>
                    </button>
                    <!-- <button type="button" class="btn btn-primary" onclick="printElement('barcode','serialNo')">
                      <span class="icon-common icon-print icon-btn"></span>
                      <span>Print Bar Code</span>
                    </button> -->
                    <h6 class="mb-3">
                      Status:
                      <span style="color: #0074d9" class="user-role" ng-if="asset.status=='Active'">Active</span>
                      <span style="color: #b508d8" class="user-role" ng-if="asset.status=='Reserve'">Reserve</span>
                      <span style="color: #ff851b" class="user-role" ng-if="asset.status=='Assigned'">Assigned</span>
                      <span style="color: #ff4136" class="user-role"
                        ng-if="asset.status=='Maintenance'">Maintenance</span>
                      <span style="color: #39cccc" class="user-role" ng-if="asset.status=='Deployed'">Deployed</span>
                      <span style="color: #ffdc00" class="user-role" ng-if="asset.status=='Sale'">Sale</span>
                      <span style="color: #85144b" class="user-role" ng-if="asset.status=='Scrap'">Scrap</span>
                      <span style="color: #f012be" class="user-role" ng-if="asset.status=='Stolen'">Stolen</span>
                      <span style="color: #f115af" class="user-role" ng-if="asset.status=='Project'">Project</span>
                      <span style="color: #08f513" class="user-role" ng-if="asset.status=='Rent'">Rent</span>
                    </h6>
                  </div>
                  <div class="col-md-2">
                    <div class="code-container">
                      <div id="qrcode"></div>
                      <button type="button" class="btn btn-page-action btn-print"
                        onclick="printElement('qrcode','assetTagId')">
                        <span class="lbl-btn-print">Print</span>
                        <span class="icon-common icon-btn-print icon-print"></span>
                      </button>
                      <!-- <button type="button" class="btn btn-primary" onclick="printElement('qrcode','assetTagId')">
                        <span class="icon-common icon-print icon-btn"></span>
                        <span>Print QR Code</span>
                      </button> -->
                    </div>
                  </div>
                  <div ng-if="asset.status=='Assigned'" class="col-md-2">
                    <div class="text-start">
                      <img ng-if="asset.assignPicture != null" ng-src="{{ asset.assignPicture }}" alt="Employee Image"
                        width="100">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr style="height: 1px" />
            <div class="user-table-container">
              <ul class="nav nav-tabs tabsItem" role="tablist" style="margin-top: 14px">
                <li class="nav-item" role="presentation">
                  <a showtab="" class="nav-link active" href="#asset-details" aria-controls="asset-details" role="tab"
                    data-toggle="tab">Details</a>
                </li>
                <li ng-if="asset.assetMaintenances.length>0" class="nav-item" role="presentation">
                  <a showtab="" class="nav-link" href="#asset-maintenance" aria-controls="asset-maintenance" role="tab"
                    data-toggle="tab">Maintenance</a>
                </li>
                <li ng-if="asset.assetAssignHistory.length>0" class="nav-item" role="presentation">
                  <a showtab="" class="nav-link" href="#asset-history" aria-controls="asset-history" role="tab"
                    data-toggle="tab">Assign History</a>
                </li>
                <li ng-if="asset.assetDeployment.length>0" class="nav-item" role="presentation">
                  <a showtab="" class="nav-link" href="#asset-deployment" aria-controls="asset-deployment" role="tab"
                    data-toggle="tab">Deployment</a>
                </li>
                <li ng-if="asset.assetProject.length>0" class="nav-item" role="presentation">
                  <a showtab="" class="nav-link" href="#asset-project" aria-controls="asset-deployment" role="tab"
                    data-toggle="tab">Project</a>
                </li>
                <li ng-if="asset.assetDepreciation.length>0" class="nav-item" role="presentation">
                  <a showtab="" class="nav-link" href="#asset-depreciation" aria-controls="asset-depreciation"
                    role="tab" data-toggle="tab">Depreciation</a>
                </li>
                <li ng-if="asset.assetAmc.length>0" class="nav-item" role="presentation">
                  <a showtab="" class="nav-link" href="#asset-amc" aria-controls="asset-amc" role="tab"
                    data-toggle="tab">AMC</a>
                </li>
                <li ng-if="asset.assetInsurance.length>0" class="nav-item" role="presentation">
                  <a showtab="" class="nav-link" href="#asset-insurence" aria-controls="asset-insurence" role="tab"
                    data-toggle="tab">Insurance</a>
                </li>
                <li ng-if="asset.saleStatus==true" class="nav-item" role="presentation">
                  <a showtab="" class="nav-link" href="#asset-sale" aria-controls="asset-sale" role="tab"
                    data-toggle="tab">Sale Details</a>
                </li>
                <li ng-if="asset.assetRent.length>0" class="nav-item" role="presentation">
                  <a showtab="" class="nav-link" href="#asset-rent" aria-controls="asset-rent" role="tab"
                    data-toggle="tab">Rent Details</a>
                </li>
              </ul>
              <div class="tab-content tabcontent-border">
                <div role="tabpanel" class="tab-pane active tb-pane-padding" id="asset-details">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                      <thead>
                        <!-- <tr>
                      <th style="background: #e6f5fa">Asset Type :</th>
                      <td style="background: #efefef">{{asset.type}}</td>
                    </tr>
                    <tr ng-repeat="data in entity[0].assetTypeDetail | orderBy:'id'">
                      <th style="background: #e6f5fa">{{data.caption}} :</th>
                      <td style="background: #efefef">
                        <span ng-if="isIPAddress(asset[data.model]) || isURL(asset[data.model])">
                          <a href="{{getAbsoluteUrl(asset[data.model])}}" target="_blank">{{asset[data.model]}}</a>
                        </span>
                        <span ng-if="!isIPAddress(asset[data.model]) && !isURL(asset[data.model])">
                          {{asset[data.model]}} {{data.unit}}
                        </span>
                      </td>
                    </tr> -->
                        <tr>
                          <th style="background: #e6f5fa">Asset Type :</th>
                          <td style="background: #efefef">{{asset.type}}</td>
                        </tr>
                        <tr ng-repeat="data in entity[0].assetTypeDetail | orderBy:'id'">
                          <th ng-hide="asset[data.model] == null || asset[data.model] == ''"
                            style="background: #e6f5fa">
                            {{data.caption}} :</th>
                          <td ng-hide="asset[data.model] == null || asset[data.model] == ''"
                            style="background: #efefef">
                            <span ng-if="data.type != 'URL'">{{asset[data.model]}} {{data.unit}}</span>
                            <span ng-if="data.type == 'URL'">
                              <a href="{{getAbsoluteUrl(asset[data.model])}}" target="_blank">{{asset[data.model]}}</a>
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <th style="background: #e6f5fa">Model No :</th>
                          <td style="background: #efefef">{{asset.model}}</td>
                        </tr>
                        <tr>
                          <th style="background: #e6f5fa">Serial No :</th>
                          <td style="background: #efefef">{{asset.serialNo}}</td>
                        </tr>
                        <tr ng-if="asset.note!=null">
                          <th style="background: #e6f5fa">Note :</th>
                          <td style="background: #efefef">{{asset.note}}</td>
                        </tr>
                        <tr ng-if="asset.location!=null">
                          <th style="background: #e6f5fa">Location :</th>
                          <td style="background: #efefef">{{asset.location}}</td>
                        </tr>
                        <tr ng-if="asset.warrantyStatus==true">
                          <th style="background: #e6f5fa">Warranty :</th>
                          <td style="background: #efefef">{{asset.warrantyStartDate}} - {{asset.warrantyEndDate}}</td>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane tb-pane-padding" id="asset-maintenance">
                  <div class="table-responsive">
                    <table class="user-table-view">
                      <thead>
                      <tr class="table-head-primary">
                        <th>Sl.</th>
                        <th>Supplier</th>
                        <th>Type</th>
                        <th>Start Date</th>
                        <th>Start Note</th>
                        <th>End Date</th>
                        <th>End Note</th>
                        <th>Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="maintenance in asset.assetMaintenances | orderBy:'id'">
                        <td>{{$index + 1}}</td>
                        <td>
                          <span>{{maintenance.supplierName}}</span>
                        </td>
                        <td><span>{{maintenance.type}}</span></td>
                        <td>
                          <span>{{maintenance.startDate}}</span>
                        </td>
                        <td>
                          <span>{{maintenance.startNote}}</span>
                        </td>
                        <td>
                          <span>{{maintenance.endDate}}</span>
                        </td>
                        <td>
                          <span>{{maintenance.endNote}}</span>
                        </td>
                        <td>
                          <span>{{maintenance.amount}}</span>
                        </td>
                      </tr>
                    </tbody>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane tb-pane-padding" id="asset-history">
                  <div class="table-responsive">
                    <table class="user-table-view">
                      <tr class="table-head-primary">
                        <th>Sl.</th>
                        <th>Employee</th>
                        <th>Employee Code</th>
                        <!-- <th>Image</th> -->
                        <th>Assign Date</th>
                        <th>Assign Location</th>
                        <th ng-if="asset.docUpload==true">Assign Document</th>
                        <th>Handover Date</th>
                        <th>Handover Location</th>
                        <th>Handover Employee</th>
                        <th>Handover Employee Code</th>
                        <th ng-if="asset.docUpload==true">Handover Document</th>
                      </tr>
                      <tr ng-repeat="history in asset.assetAssignHistory | orderBy:'id'">
                        <td>{{$index + 1}}</td>
                        <td><span>{{history.employee}}</span></td>
                        <td>
                          <span>{{history.employeeCode}}</span>
                        </td>
                        <!-- <td>
                          <div class="icon-profile-container icon-profile-lg">
                            <img src="assets/icons/user.svg" alt="assets/icons/user.svg" srcset="assets/icons/user.svg">
                          </div>
                        </td> -->
                        <td>
                          <span>{{history.assignDate}}</span>
                        </td>
                        <td>
                          <span>{{history.assignLocation}}</span>
                        </td>
                        <td ng-if="asset.docUpload==true">
                          <span ng-if="history.assignDoc && history.assignDoc != ''">
                            <a href="#" ng-click="downloadFile(history.assignDoc)">Download</a>
                          </span>
                        </td>
                        <td>
                          <span>{{history.handoverDate}}</span>
                        </td>
                        <td>
                          <span>{{history.handoverLocation}}</span>
                        </td>
                        <td>
                          <span>{{history.handoverEmployee}}</span>
                        </td>
                        <td>
                          <span>{{history.handoverEmployeeCode}}</span>
                        </td>
                        <td ng-if="asset.docUpload==true">
                          <span ng-if="history.handoverDoc && history.handoverDoc != ''">
                            <a href="#" ng-click="downloadFile(history.handoverDoc)">Download</a>
                          </span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane tb-pane-padding" id="asset-deployment">
                  <div class="table-responsive">
                    <table class="user-table-view">
                      <tr class="table-head-primary">
                        <th>Sl.</th>
                        <th>Note</th>
                        <th>Location</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                      </tr>
                      <tr ng-repeat="deployment in asset.assetDeployment | orderBy:'id'">
                        <td>{{$index + 1}}</td>
                        <td><span class="user-role">{{deployment.note}}</span></td>
                        <td>
                          <span class="user-role">{{deployment.locationName}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{deployment.startDate}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{deployment.endDate}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane tb-pane-padding" id="asset-project">
                  <div class="table-responsive">
                    <table class="user-table-view">
                      <tr class="table-head-primary">
                        <th>Sl.</th>
                        <th>Project</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Note</th>
                      </tr>
                      <tr ng-repeat="project in asset.assetProject | orderBy:'id'">
                        <td>{{$index + 1}}</td>
                        <td>
                          <span class="user-role">{{project.project}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{project.startDate}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{project.endDate}}</span>
                        </td>
                        <td><span class="user-role">{{project.note}}</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane tb-pane-padding" id="asset-depreciation">
                  <div class="table-responsive">
                    <table class="user-table-view">
                      <tr class="table-head-primary">
                        <th>Period</th>
                        <th>Year Code</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Initial book Value</th>
                        <th>Depreciation</th>
                        <th>Final Book Value</th>
                        <th>Accmulated Depreciation</th>
                      </tr>
                      <tr ng-repeat="depreciation in asset.assetDepreciation | orderBy:'period'">
                        <td>
                          <span class="user-role">{{depreciation.period}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{depreciation.yearCode}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{depreciation.startdate}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{depreciation.endDate}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{depreciation.bookValue}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{depreciation.depreciation}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{depreciation.endingBookValue}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{depreciation.accumulatedDepreciation}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane tb-pane-padding" id="asset-insurence">
                  <div class="table-responsive">
                    <table class="user-table-view">
                      <tr class="table-head-primary">
                        <th>Sl.</th>
                        <th>Company</th>
                        <th>Amount</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                      </tr>
                      <tr ng-repeat="insurance in asset.assetInsurance | orderBy:'id'">
                        <td>{{$index + 1}}</td>
                        <td><span class="user-role">{{insurance.insuranceCompany}}</span></td>
                        <td>
                          <span class="user-role">{{insurance.amount}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{insurance.startDate}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{insurance.endDate}}</span>
                        </td>
                        <td>
                          <span ng-if="insurance.status==true">Active</span>
                          <span ng-if="insurance.status==false">Expired</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane tb-pane-padding" id="asset-amc">
                  <div class="table-responsive">
                    <table class="user-table-view">
                      <tr class="table-head-primary">
                        <th>Sl.</th>
                        <th>Supplier</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                      </tr>
                      <tr ng-repeat="amc in asset.assetAmc | orderBy:'id'">
                        <td>{{$index + 1}}</td>
                        <td><span class="user-role">{{amc.supplier}}</span></td>
                        <td>
                          <span class="user-role">{{amc.startDate}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{amc.endDate}}</span>
                        </td>
                        <td>
                          <span ng-if="amc.status==true">Active</span>
                          <span ng-if="amc.status==false">Expired</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane tb-pane-padding" id="asset-sale">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th style="background: #e6f5fa">Sold To:</th>
                          <td style="background: #efefef">{{asset.saleType}}</td>
                        </tr>
                        <tr>
                          <th style="background: #e6f5fa">Sale Date :</th>
                          <td style="background: #efefef">{{asset.saleDate}}</td>
                        </tr>
                        <tr ng-if="asset.saleType=='Company' || asset.saleType=='Other'">
                          <th style="background: #e6f5fa">Buyer :</th>
                          <td style="background: #efefef">{{asset.buyer}}</td>
                        </tr>
                        <tr ng-if="asset.saleType=='Employee'">
                          <th style="background: #e6f5fa">Employee Name :</th>
                          <td style="background: #efefef">{{asset.soldPerson}}</td>
                        </tr>
                        <tr ng-if="asset.saleType=='Employee'">
                          <th style="background: #e6f5fa">Employee Code :</th>
                          <td style="background: #efefef">{{asset.soldEmployeeId}}</td>
                        </tr>
                        <tr ng-if="asset.note!=null">
                          <th style="background: #e6f5fa">Note :</th>
                          <td style="background: #efefef">{{asset.note}}</td>
                        </tr>
                        <tr ng-if="asset.location!=null">
                          <th style="background: #e6f5fa">Location :</th>
                          <td style="background: #efefef">{{asset.location}}</td>
                        </tr>
                        <tr ng-if="asset.location!=null">
                          <th style="background: #e6f5fa">Sale Vale :</th>
                          <td style="background: #efefef">{{asset.saleValue}}</td>
                        </tr>
                        <tr ng-if="asset.location!=null">
                          <th style="background: #e6f5fa">Sale Actual Vale :</th>
                          <td style="background: #efefef">{{asset.actualSaleValue}}</td>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane tb-pane-padding" id="asset-rent">
                  <div class="table-responsive">
                    <table class="user-table-view">
                      <tr class="table-head-primary">
                        <th>Sl.</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Note</th>
                        <th>Note</th>
                      </tr>
                      <tr ng-repeat="rent in asset.assetRent | orderBy:'id'">
                        <td>{{$index + 1}}</td>
                        <td>
                          <span class="user-role">{{rent.startDate}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{rent.endDate}}</span>
                        </td>
                        <td>
                          <span class="user-role">{{rent.note}}</span>
                        </td>
                        <td>
                          <span style="color: #0074d9" class="user-role" ng-if="rent.status==true">Active</span>
                          <span style="color: #b508d8" class="user-role" ng-if="rent.status==false">Not-Active</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>


  <script src="private/admin/admin.js"></script>

  <script>
    function printElement(elementId, id) {
      var element = document.getElementById(elementId);
      var code = document.getElementById(id);
      var printWindow = window.open('', '_blank');
      printWindow.document.write('<html><head><title>Print</title></head><body>');
      printWindow.document.write(element.outerHTML);
      printWindow.document.write(code.outerHTML);
      printWindow.document.write('</body></html>');
      printWindow.document.close();
      printWindow.print();
    }

  </script>
</body>

</html>