<!DOCTYPE html>
<html
    th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

<head>
    <title>Print</title>
</head>

<body>

    <section>

        <div ng-app="AdminManagment" ng-controller="PrintController">
            <div class="breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/home}">
                                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="icon-common icon-breadcrumb icon-print"></span><span>Print</span>
                        </li>
                    </ol>
                </nav>
            </div>

            <div class="body-area" ng-show="views.list">
                <div class="body-area-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="body-area-tittle">Print</div>
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <span class="me-2">
                                <button class="btn btn-page-action btn-search" ng-click="search()">
                                    <span class="icon-common icon-btn-search icon-search"></span>
                                    <span class="lbl-btn-search">Search</span>
                                </button>
                            </span>
                        </div>


                    </div>
                </div>

                <div id="print" class="body-area-content">
                    <div class="section-to-print">
                        <div class="asset-code-container user-table-container">
                            <div class="mx-2 mb-4" ng-repeat="code in qrCodes">
                                <div id="qrcode{{$index}}" class="qrcode"></div>
                                <span class="lbl-qrcode-name">{{code.tagId}}</span>
                                <br>
                                <span class="lbl-qrcode-name">{{code.serial}}</span>
                                <br>
                            </div>
                            <div class="mx-2" ng-repeat="code in barCodes">
                                <div>
                                    <canvas id="barcode{{$index}}"></canvas>
                                </div>
                                <span>{{code.serial}}</span>
                            </div>
                        </div>
                        <div ng-show="qrCodes.length > 0 || barCodes.length >0"
                            class="d-print-none d-screen-block d-flex justify-content-center">
                            <button class="btn btn-page-action btn-print " onclick="print()">
                                <span class="lbl-btn-print">Print</span>
                                <span class="icon-common icon-btn-print icon-print"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ====================Modal View======================= -->

            <div class="modal fade" id="asset_print" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span>Search</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form" ng-submit="fetchQRData()"
                                autocomplete="off">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="form-group">
                                                <label class="text-dark lbl-medium" for="planName">
                                                    Type: <span class="text-danger">*</span>
                                                </label>
                                                <select name="assetCatId" ng-model="form.type" class="form-control"
                                                    ng-change="reset()" required>
                                                    <option></option>
                                                    <option value="id">Asset ID</option>
                                                    <option value="serial">Serial Number</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div ng-show="form.type=='id'" class="col-lg-4 col-sm-6">
                                            <div class="form-group">
                                                <label class="text-dark lbl-medium" for="planName">
                                                    Asset Tags: <span class="text-danger">*</span>
                                                </label>
                                                <div>
                                                    <select class="selectpicker form-control" multiple
                                                        ng-model="form.tags"
                                                        ng-options="asset.id as asset.asset_tag_id for asset in assets"
                                                        aria-label="Default select example" data-live-search="true"
                                                        ng-required="form.type=='id'">
                                                        <option ng-selected="form.tags.indexOf(asset.id) !== -1"
                                                            value="{{asset.id}}">{{asset.asset_tag_id}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="form.type=='serial'" class="col-lg-4 col-sm-6">
                                            <div class="form-group">
                                                <label class="text-dark lbl-medium" for="planName">
                                                    Serials: <span class="text-danger">*</span>
                                                </label>
                                                <div>
                                                    <select class="selectpicker form-control" multiple
                                                        ng-model="form.serials"
                                                        ng-options="asset.id as asset.serial_no for asset in assets"
                                                        aria-label="Default select example" data-live-search="true"
                                                        ng-required="form.type=='serial'">
                                                        <option ng-selected="form.tags.indexOf(asset.id) !== -1"
                                                            value="{{asset.id}}">{{asset.serial_no}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-modal-action"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success btn-modal-action">Ok</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script src="private/admin/admin.js"></script>

</body>

</html>