<!DOCTYPE html>
<html
    th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

<head>
    <title>Service Register</title>
</head>

<body>

    <section>

        <div ng-app="AdminManagment" ng-controller="ServiceRegister">
            <div class="breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/home}">
                                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="icon-common icon-breadcrumb icon-call-log"></span><span>Service Register</span>
                        </li>
                    </ol>
                </nav>
            </div>

            <div class="body-area" ng-show="views.list">
                <div class="body-area-header">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="body-area-tittle">Register</div>
                        </div>
                    </div>
                </div>
                <div class="body-area-content">
                    <div class="user-table-container">
                        <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                            <thead>
                                <tr class="table-head-primary">
                                    <th>SL No.</th>
                                    <th>Priority</th>
                                    <th>Type</th>
                                    <th>Asset Tag Id</th>
                                    <th>Serial Number</th>
                                    <th>Model</th>
                                    <th>Problem</th>
                                    <th>Time Stamp</th>
                                    <th>User</th>
                                    <th>User Image</th>
                                    <th>Department</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="log in logs">
                                    <td>{{$index + 1}}</td>
                                    <td>{{log.priority}}</td>
                                    <td>{{log.type}}</td>
                                    <td>{{log.asset_tag_id}}</td>
                                    <td>{{log.serial_no}}</td>
                                    <td>{{log.model}}</td>
                                    <td>{{log.note}}</td>
                                    <td>{{log.time_stamp}}</td>
                                    <td>{{log.employee}}</td>
                                    <td>
                                        <div class="icon-profile-container icon-profile-lg">

                                            <img ng-if="log.image_link != null" ng-src="{{ log.image_link }}"
                                                alt="Employee Image" width="100">
                                            <img ng-if="log.image_link == null" src="assets/icons/user.svg"
                                                alt="Employee Image" width="100">
                                        </div>
                                    </td>
                                    <td>{{log.department}}</td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="btn btn-icon btn-option" href="#" role="button"
                                                id="userActionOption" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="icon-common icon-option icon-btn-circle"></span>
                                            </a>

                                            <ul class="dropdown-menu" aria-labelledby="userActionOption">
                                                <li>
                                                    <a title="Resolve" class="dropdown-item" ng-click="resolve(log.id)">
                                                        <span
                                                            class="icon-common icon-action-dropdown icon-resolve"></span><span>Resolve</span>
                                                    </a>
                                                    <a title="Resolve" class="dropdown-item"
                                                        ng-click="serviceAcceleration(log.id)">
                                                        <span
                                                            class="icon-common icon-action-dropdown icon-resolve"></span><span>Acceleration</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <!-- ====================Modal View======================= -->
            <div class="modal fade" id="acceleration_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span>Acceleration/span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form" ng-submit="addEditSaveLocation()">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Reason: <span class="text-danger">*</span>
                                            </label>
                                            <input name="name" type="text" ng-model="form.reason" class="form-control"
                                                placeholder="Enter reason"
                                                ng-change="form.reason = (form.reason | uppercase)" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-modal-action"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success btn-modal-action">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </section>

    <script src="private/admin/service.js"></script>

</body>

</html>