<!DOCTYPE html>
<html th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">
<head>
    <title>Settings</title>
</head>

<body>

    <section>

        <div ng-app="AdminManagment" ng-controller="ApplicationSetup">
            <div class="breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/home}">
                                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="icon-common icon-breadcrumb icon-settings"></span><span>Settings</span>
                        </li>
                    </ol>
                </nav>
            </div>

            <div class="body-area" ng-show="views.list">
                <div class="body-area-header">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="body-area-tittle">Settings</div>
                        </div>
                        <div class="col-md-6">
                            <div class="body-area-action">
                                <a ng-click="AddLocation()" class="float-end btn btn-icon btn-add me-2"
                                    title="Add Location"><span class="icon-common icon-add"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-area-content">
                    <div class="user-table-container">
                        <table class="user-table-view" id="">
                            <tr class="table-head-primary">
                                <th>SL No.</th>
                                <th>Key</th>
                                <th>Value</th>
                                <th>Editable</th>
                                <th>Deletable</th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                            <tr ng-repeat="application in applications">
                                <td>{{$index + 1}}</td>
                                <td><span class="user-role">{{application.key}}</span></td>
                                <td><span class="user-role">{{application.value}}</span></td>
                                <td>
                                    <span style="color: #2ECC40;" class="user-role"
                                        ng-if="application.edit==true">YES</span>
                                    <span style="color: #FF4136;" class="user-role"
                                        ng-if="application.edit==false">NO</span>
                                </td>
                                <td>
                                    <span style="color: #2ECC40;" class="user-role"
                                        ng-if="application.delete==true">YES</span>
                                    <span style="color: #FF4136;" class="user-role"
                                        ng-if="application.delete==false">NO</span>
                                </td>
                                <td>
                                    <form method="POST">
                                        <input type="hidden" name="_token"
                                            value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                                        <label class="switch">
                                            <input ng-disabled="application.delete==false" class="user" type="checkbox"
                                                data-id="2" ng-click="changeStatus(application.id)"
                                                ng-model="application.status" name="status" checked="">
                                            <span class="knob"></span>
                                        </label>
                                    </form>
                                </td>
                                <td ng-if="application.edit==false" class="d-flex">
                                    <span class="me-2"><a title="Edit" ng-click="editApplicationSetup(application.id)"
                                            class="btn btn-action btn-action-edit"><span
                                                class="lbl-btn-action"></span><span
                                                class="icon-common icon-btn icon-edit"></span></a></span>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>



            <!-- ====================Modal View======================= -->
            <div class="modal fade" id="add_edit_location_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span ng-if="form.id!=null || form.id!=undefined">Edit Settings</span>
                                <span ng-if="form.id==null || form.id==undefined">Add Settings</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form"
                                ng-submit="addEditSaveApplicationSetup()">
                                <div class="row">
                                    <div ng-if="form.id==null || form.id==undefined" class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Key: <span class="text-danger">*</span>
                                            </label>
                                            <input name="key" type="text" ng-model="form.key" class="form-control"
                                                placeholder="Enter key" ng-change="form.key = (form.key | uppercase)"
                                                required />
                                        </div>
                                    </div>
                                    <div ng-if="form.id!=null || form.id!=undefined" class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Key: <span class="text-danger">*</span>
                                            </label>
                                            <input ng-disabled="form.edit=='false'" name="key" type="text"
                                                ng-model="form.key" class="form-control" placeholder="Enter key"
                                                ng-change="form.key = (form.key | uppercase)" required />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Value: <span class="text-danger">*</span>
                                            </label>
                                            <input name="value" type="text" ng-model="form.value" class="form-control"
                                                placeholder="Enter value"
                                                ng-change="form.value = (form.value | uppercase)" required />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Deletable: <span class="text-danger">*</span>
                                            </label>
                                            <select
                                                ng-disabled="(form.id!=null || form.id!=undefined) && form.delete=='false'"
                                                name="Deletable" ng-model="form.delete" class="form-control select2"
                                                required>
                                                <option disabled></option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Editable: <span class="text-danger">*</span>
                                            </label>
                                            <select
                                                ng-disabled="(form.id!=null || form.id!=undefined) && form.edit=='false'"
                                                name="Editable" ng-model="form.edit" class="form-control select2"
                                                required>
                                                <option disabled></option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-modal-action"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success btn-modal-action">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="private/admin/admin.js"></script>

</body>

</html>