<!DOCTYPE html>
<html
    th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

<head>
    <title>Supplier</title>
</head>

<body>

    <section>

        <div ng-app="AdminManagment" ng-controller="SupplierController">
            <div class="breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/home}">
                                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="icon-common icon-breadcrumb icon-supplier"></span><span>Supplier/Service</span>
                        </li>
                    </ol>
                </nav>
            </div>

            <div class="body-area" ng-show="views.list">
                <div class="body-area-header">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="body-area-tittle">Supplier/Service</div>
                        </div>
                        <div class="col-md-8 d-flex justify-content-end">
                            <span class="me-2"><button title="Upload" class="btn btn-action btn-action-upload"
                                    ng-click="uploadModal()"><span class="lbl-btn-action"></span><span
                                        class="icon-common icon-btn-header icon-upload"></span></button></button></span>
                            <span><a ng-click="AddSupplier()" class="float-end btn btn-icon btn-add me-2"
                                    title="Add Asset"><span class="icon-common icon-add"></span></a></span>
                        </div>
                    </div>
                </div>
                <div class="body-area-content">
                    <div class="user-table-container">
                        <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                            <thead>
                                <tr class="table-head-primary">
                                    <th>SL No.</th>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="supplier in suppliers">
                                    <td>{{$index + 1}}</td>
                                    <td>
                                        <span ng-if="supplier.type=='supplier'" class="user-role">Supplier</span>
                                        <span ng-if="supplier.type=='service'" class="user-role">Service</span>
                                    </td>
                                    <td><span class="user-role">{{supplier.name}}</span></td>

                                    <td>
                                        <form method="POST">
                                            <input type="hidden" name="_token"
                                                value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                                            <label class="switch">
                                                <input class="user" type="checkbox" data-id="2"
                                                    ng-click="changeStatus(supplier.id)" ng-model="supplier.status"
                                                    name="status" checked="">
                                                <span class="knob"></span>
                                            </label>
                                        </form>
                                    </td>
                                    <td class="d-flex">
                                        <span class="me-2"><a title="Edit" ng-click="editSupplier(supplier.id)"
                                                class="btn btn-action btn-action-edit"><span
                                                    class="lbl-btn-action"></span><span
                                                    class="icon-common icon-btn icon-edit"></span></a></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- ====================Modal View======================= -->
            <div class="modal fade" id="add_edit_supplier_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span ng-if="form.id == undefined || form.id == null || form.id == ''">Add
                                    Supplier/Service
                                </span>
                                <span ng-if="form.id != undefined && form.id != null && form.id != ''">Add
                                    Supplier/Service</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form" ng-submit="addEditSaveSupplier()">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="planName">
                                                Type: <span class="text-danger">*</span>
                                            </label>
                                            <select name="depreciableAsset" ng-model="form.type"
                                                class="form-control select2" required>
                                                <option hidden disabled></option>
                                                <option value="both">BOTH</option>
                                                <option value="supplier">SUPPLIER</option>
                                                <option value="service">SERVICE</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Name: <span class="text-danger">*</span>
                                            </label>
                                            <input name="name" type="text" ng-model="form.name" class="form-control"
                                                placeholder="Enter Name" ng-change="form.name = (form.name | uppercase)"
                                                required />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-modal-action"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success btn-modal-action">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="upload_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span>Upload Supplier/Service</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form" ng-submit="SaveInsuranceAmc()"
                                autocomplete="off">
                                <div class="row">
                                    <!-- <div class="col-lg-4 col-sm-6">
                    <button class="btn btn-outline-primary" ng-click="downloadExcel()">Template</button>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <div class="input-container">
                      <input type="file" id="fileInput" file-model="excelFile" accept=".xlsx" class="input-file" />
                      <button class="btn btn-outline-primary" ng-click="uploadExcel(excelFile,'SUP')">
                        Upload Excel
                      </button>
                    </div>
                  </div> -->

                                    <div class="col-12 mb-5">
                                        <div class="lbl-btn-info">Download the template for the excel file:</div>
                                        <button class="btn btn-action-modal btn-action-download"
                                            ng-click="downloadExcel()">
                                            <span class="lbl-btn-action">Template</span><span
                                                class="icon-common icon-btn-lg icon-download"></span>
                                        </button>
                                    </div>
                                    <div class="col-12 mb-5">
                                        <div class="row">
                                            <div class="col-9">
                                                <input class="form-control" type="file" id="fileInput"
                                                    file-model="excelFile" accept=".xlsx">
                                            </div>
                                            <div class="col-3">
                                                <button class="btn btn-action btn-action-upload-min"
                                                    ng-click="uploadExcel(excelFile,'LAPTOP')">
                                                    <span class="icon-common icon-btn-lg icon-upload"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-modal-action"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>





    </section>

    <script src="private/admin/master.js"></script>

</body>

</html>