<!DOCTYPE html>
<html
    th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

<head>
    <title>User Registration</title>
</head>

<body>

    <section>

        <div ng-app="AdminManagment" ng-controller="UserController">
            <div class="breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/home}">
                                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="icon-common icon-breadcrumb icon-userreg"></span><span>User Registration</span>
                        </li>
                    </ol>
                </nav>
            </div>

            <div class="body-area" ng-show="views.list">
                <div class="body-area-header">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="body-area-tittle">User Registration</div>
                        </div>
                        <div class="col-md-6">
                            <div class="body-area-action">
                                <a ng-click="AddUser()" class="float-end btn btn-icon btn-add me-2"
                                    title="Add User"><span class="icon-common icon-add"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-area-content">
                    <div class="user-table-container">
                        <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                            <thead>
                                <tr class="table-head-primary">
                                    <th>SL No.</th>
                                    <th>Role</th>
                                    <th>Name</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Image</th>
                                    <th>Account Expired</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users">
                                    <td>{{$index + 1}}</td>
                                    <td><span class="user-role">{{user.role}}</span></td>
                                    <td><span class="user-role">{{user.name}}</span></td>
                                    <td><span class="user-role">{{user.mobile}}</span></td>
                                    <td><span class="user-role">{{user.email}}</span></td>
                                    <td>
                                        <div class="icon-profile-container icon-profile-lg">
                                            <img ng-if="user.imageLink != null" ng-src="{{ user.imageLink }}"
                                                alt="Employee Image">
                                            <img ng-if="user.imageLink == null" src="assets/icons/user.svg"
                                                alt="Employee Image">
                                        </div>
                                    </td>
                                    <td>
                                        <form method="POST">
                                            <input type="hidden" name="_token"
                                                value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                                            <label class="switch">
                                                <input class="user" type="checkbox" data-id="2"
                                                    ng-click="changeExpiryStatus(user.id)"
                                                    ng-model="user.accountNotExpired" name="status" checked="">
                                                <span class="knob"></span>
                                            </label>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="POST">
                                            <input type="hidden" name="_token"
                                                value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                                            <label class="switch">
                                                <input class="user" type="checkbox" data-id="2"
                                                    ng-click="changeStatus(user.id)" ng-model="user.enabled"
                                                    name="status" checked="">
                                                <span class="knob"></span>
                                            </label>
                                        </form>
                                    </td>


                                    <td>
                                        <span class="me-2"><a title="Edit" ng-click="editUser(user.id)"
                                                class="btn btn-action btn-action-edit"><span
                                                    class="lbl-btn-action"></span><span
                                                    class="icon-common icon-btn icon-edit"></span></a></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!-- ====================Modal View======================= -->
            <div class="modal fade" id="add_edit_user_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span ng-if="form.id==null || form.id==undefined">Add User</span>
                                <span ng-if="form.id!=null && form.id!=undefined">Edit User</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form" ng-submit="addEditUser()"
                                autocomplete="off">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Name: <span class="text-danger">*</span>
                                            </label>
                                            <input name="name" type="text" ng-model="form.name" class="form-control"
                                                placeholder="Enter Name" required />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="planName">
                                                Username: <span class="text-danger">*</span>
                                            </label>
                                            <input name="username" type="text" ng-model="form.username"
                                                class="form-control"
                                                ng-change="checkUserNameAvailability(form.username)"
                                                placeholder="Enter Username" required />
                                            <span style="color: red;display: none;" id="user-name-error">Username
                                                already exist!
                                                Please try another one</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="planName">
                                                Email: <span class="text-danger">*</span>
                                            </label>
                                            <input name="email" type="email" ng-model="form.email" class="form-control"
                                                ng-change="checkEmailAvailability(form.email)" placeholder="Enter Email"
                                                required />
                                            <span style="color: red;display: none;" id="email-error">Email already
                                                exist! Please
                                                try
                                                another one</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="planName">
                                                Phone No: <span class="text-danger">*</span>
                                            </label>
                                            <input name="mobile" type="text" ng-model="form.mobile" class="form-control"
                                                placeholder="Enter Phone No" required />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group position-relative">
                                            <label class="text-dark lbl-medium" for="planName">
                                                Password: <span class="text-danger">*</span>
                                            </label>
                                            <input name="password" type="{{ showPassword ? 'text' : 'password' }}"
                                                ng-model="form.password" class="form-control" id="idPassword"
                                                placeholder="Enter Password"
                                                ng-required="form.id==null || form.id==undefined" />
                                            <span class="icon-common icon-toggle-pass-slash icon-form"
                                                id="togglePassword" ng-click="togglePassword()"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="planName">
                                                Role: <span class="text-danger">*</span>
                                            </label>
                                            <select name="Role" ng-model="form.role" class="form-control select2"
                                                required>
                                                <option disabled></option>
                                                <option disabled value="ADMIN">Admin</option>
                                                <option value="MANAGER">Manager</option>
                                                <option value="PURCHASE">Purchase</option>
                                                <option value="LOGISTICS">Logistics</option>
                                                <option value="FINANCE">Finance</option>
                                                <option value="SERVICE">IT/Service</option>
                                                <option value="BACKOFFICE">Back Office</option>
                                                <option value="SERVICEENGINEER">Service Engineer</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <div class="row align-items-end">
                                                <div class="col-md-10">
                                                    <label class="text-dark lbl-medium" for="userImageUpload">User
                                                        Image:</label>
                                                    <input type="file" id="userImageUpload"
                                                        class="form-control form-control-solid"
                                                        file-model="form.userImage" accept="image/*" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="" hidden>Upload</label>
                                                    <a class="btn btn-action btn-action-upload-min"
                                                        ng-click="uploadFile(form.userImage)" title="Upload">
                                                        <span class="icon-common icon-btn-lg icon-upload"></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- <img ng-if="form.userImagePreview" ng-src="{{form.userImagePreview}}"
                                                alt="Image Preview" style="max-width: 100px; margin-top: 10px;" /> -->
                                            <img ng-if="form.imageLink != null" ng-src="{{form.imageLink}}"
                                                alt="Image Preview" style="max-width: 100px; margin-top: 10px;" />
                                            <img ng-if="form.imageLink == null" ng-src="assets/icons/user.svg"
                                                alt="Image Preview" style="max-width: 100px; margin-top: 10px;" />
                                        </div>
                                    </div>

                                </div>
                                <div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-modal-action"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success btn-modal-action">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <script src="private/admin/admin.js"></script>

</body>

</html>