<!DOCTYPE html>
<html
    th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

</html>

<head>
    <title>SRMPS | Gross Weight</title>
    <style>
        #cameraFeed {
            width: 100%;
            max-width: 150px;
            height: auto;
            border: 1px solid #ccc;
        }

        #capturedFeed {
            width: 100%;
            max-width: 150px;
            height: auto;
            border: 1px solid #ccc;
            margin-top: 20px;
        }

        button {
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 16px;
        }

    </style>
</head>

<body>
    <section>
        <div ng-controller="GrossWeightController">
            <div class="breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/plant-home}">
                                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="icon-common icon-breadcrumb icon-gross-weight"></span><span>Gross Weight</span>
                        </li>
                    </ol>
                </nav>
            </div>
            <!-- // List Token -->
            <div class="body-area" ng-show="views.list">
                <div class="body-area-header">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="body-area-tittle">Gross Weight</div>
                        </div>
                        <div sec:authorize="hasAnyAuthority('ADD','ADMIN')" class="col-md-8 d-flex justify-content-end">
                            <span><button title="Upload" class="btn btn-action-header btn-action-upload"
                                    ng-click="enterGrossToken()"><span class="lbl-btn-action"></span>
                                    <span class="icon-common icon-btn-header icon-add"></span></button></button></span>
                        </div>
                    </div>
                </div>
                <div class="body-area-content">
                    <div class="user-table-container">
                        <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                            <thead>
                                <tr class="table-head-primary">
                                    <th>SL No.</th>
                                    <th>Date</th>
                                    <th hidden>Token</th>
                                    <th>Vendor</th>
                                    <th>Info</th>
                                    <th>Product</th>
                                    <th>Remarks</th>
                                    <th>Token Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="token in tokens">
                                    <td>{{$index + 1}}</td>
                                    <td><span class="user-role">{{token.inDate}}</span></td>
                                    <td hidden><span class="user-role">{{token.tokenNumber}}</span></td>

                                    <td><span class="user-role">{{token.vendorName}}</span></td>
                                    <td>
                                        <div>
                                            <span class="user-details-caption">Driver: </span>
                                            <span class="user-details-value">{{token.driver}}</span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">Vehicle Number: </span>
                                            <span class="user-details-value">{{token.vehicleNumber}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <span class="user-details-caption">Type: </span>
                                            <span class="user-details-value">{{token.itemType}} </span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">Item: </span>
                                            <span class="user-details-value">{{token.item}}</span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">Unit: </span>
                                            <span class="user-details-value">{{token.unit}}</span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">Rate: </span>
                                            <span class="user-details-value">{{token.rate}}Rs</span>
                                        </div>
                                    </td>
                                    <td><span class="user-role">{{token.remarks}}</span></td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="user-details-caption">Gross Weight: </span>
                                            <span ng-if="token.grossWeightStatus"
                                                class="icon-common icon-list-status icon-done"></span>
                                            <span ng-if="!token.grossWeightStatus"
                                                class="icon-common icon-list-status icon-not-done"></span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">QC: </span>
                                            <span ng-if="token.qcStatus"
                                                class="icon-common icon-list-status icon-done"></span>
                                            <span ng-if="!token.qcStatus"
                                                class="icon-common icon-list-status icon-not-done"></span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">Tare Weight: </span>
                                            <span ng-if="token.tareWeightStatus"
                                                class="icon-common icon-list-status icon-done"></span>
                                            <span ng-if="!token.tareWeightStatus"
                                                class="icon-common icon-list-status icon-not-done"></span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- ====================Modal View======================= -->
            <div class="modal fade" id="gross_weight_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span>Gross Weight for vendor: {{form.vendorName}}</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                ng-click="close()">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form" ng-submit="saveToken()"
                                autocomplete="off">

                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Token: <span class="text-danger">*</span>
                                            </label>
                                            <div class="d-flex me-2">

                                                <input name="name" type="text" ng-model="token"
                                                    ng-change="delayedGetToken(token)" class="form-control hidden-input"
                                                    placeholder="Enter Token" required />

                                                <span>
                                                    <a title="Print" ng-click="getToken(token)"
                                                        class="btn btn-action btn-action-edit ms-2">
                                                        <span class="lbl-btn-action"></span>
                                                        <span class="icon-common icon-btn icon-search"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-hide="cameraDisable" class="col-lg-9 col-sm-6">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div>
                                                    <label class="text-dark lbl-medium" for="name">
                                                        IP Camera Feed
                                                    </label>
                                                </div>
                                                <!-- <div class="lbl-camera-feed">IP Camera Feed</div> -->
                                                <div class="mb-2">
                                                    <a class="btn btn-secondary" ng-click="startCamera()">Start
                                                        Camera</a>
                                                </div>
                                                <img ng-if="cameraUrl" ng-src="{{cameraUrl}}" id="cameraFeed" />
                                            </div>
                                            <div class="col-md-4">
                                                <div ng-if="capturedImage">
                                                    <div>
                                                        <label class="text-dark lbl-medium" for="name">
                                                            Captured Image:
                                                        </label>
                                                    </div>
                                                    <img ng-if="form.grossWeightImageLink != null" ng-src="{{form.grossWeightImageLink}}"
                                                        alt="Image Preview"
                                                        style="max-width: 100px; margin-top: 10px;" />
                                                    <!-- <div class="lbl-camera-feed">Captured Image:</div> -->
                                                    <!-- <img ng-src="{{capturedImage}}" id="capturedFeed" alt="Captured Image"> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-hide="controlDisable " class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="planName">
                                                Weigh Bridge: <span class="text-danger">*</span>
                                            </label>
                                            <select name="state" ng-model="form.grossWeightWeighBridgeCode"
                                                class="form-control select2"
                                                ng-options="bridge.code as bridge.name for bridge in weighBridges"
                                                required ng-change="checkLocation(form.grossWeightWeighBridgeCode)"
                                                ng-disabled="controlDisable">
                                                <option value="" disabled selected>Please Select</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Weight: <span class="text-danger">*</span>
                                            </label>
                                            <div class="d-flex me-2">

                                                <input name="name" type="number" ng-attr-min="{{form.minWeight}}"
                                                    step="0.01" ng-model="form.grossWeight" class="form-control"
                                                    placeholder="Enter Name" required ng-disabled="!manualWeight" />
                                                    <span class="input-group-text" id="basic-addon2">KG</span>

                                                <span>
                                                    <a title="Print"
                                                        ng-click="getWeight(form.grossWeightWeighBridgeCode); captureImage()"
                                                        class="btn btn-action btn-action-edit ms-2"
                                                        ng-class="{'disabled': controlDisable}">
                                                        <span class="lbl-btn-action"></span>
                                                        <span class="icon-common icon-btn icon-mdi_web"></span>
                                                    </a>
                                                </span>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div ng-hide="controlDisable" class="row">
                                    <div class="col-lg-4 col-sm-6">
                                        <p><strong>Type:</strong> {{form.vendorType}}</p>
                                        <p><strong>Pan:</strong> {{form.pan}}</p>
                                        <p><strong>Aadhar:</strong> {{form.aadhaar}}</p>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <p><strong>Vehicle:</strong> {{form.vehicleType}}</p>
                                        <p><strong>Driver:</strong> {{form.driver}}</p>
                                        <p><strong>Vehicle Number:</strong> {{form.vehicleNumber}}</p>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <p><strong>Item:</strong> {{form.itemType}}-{{form.item}}</p>
                                        <p><strong>Unit:</strong> {{form.unit}}</p>
                                        <p><strong>Rate:</strong> {{form.rate}}</p>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-modal-action"
                                        data-bs-dismiss="modal" ng-click="close()">Close</button>
                                    <button type="submit" ng-hide="controlDisable"
                                        class="btn btn-success btn-modal-action">Save</button>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="search_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span>Search</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                ng-click="close()">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form" ng-submit="searchGrossWeight()"
                                autocomplete="off">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Start Date: <span class="text-danger">*</span>
                                            </label>
                                            <input name="name" type="text" ng-model="searchForm.startDate"
                                                class="form-control" id="datepicker1" placeholder="Enter Name" required
                                                readonly />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                End Date: <span class="text-danger">*</span>
                                            </label>
                                            <input name="name" type="text" ng-model="searchForm.endDate"
                                                class="form-control" id="datepicker2" placeholder="Enter Name" required
                                                readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-modal-action"
                                        data-bs-dismiss="modal" ng-click="close()">Close</button>
                                    <button type="submit" class="btn btn-success btn-modal-action">search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="print_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" id="modalContentToPrint">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                Token
                            </h5>
                            <button type="button" class="btn-close d-print-none" data-bs-dismiss="modal"
                                aria-label="Close" ng-click="close()">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>

                        </div>
                        <div class="modal-body" id="modalContentToPrint">

                            <div class="report-page">

                                <table>
                                    <thead>
                                        <tr>
                                            <td>
                                                <div class="page-header">
                                                    <table class="table-page-header">
                                                        <tr>
                                                            <td class="w-20 text-start">
                                                                <img class="img-brand" ng-src="{{printData.company.imageLink}}">
                                                            </td>
                                                            <td class="w-60 text-center brand-details">
                                                                <div class="brand-header">{{printData.company.name}}</div>
                                                                <div class="brand-info">
                                                                    <div class="brand-address">
                                                                        <div class="lbl-location">{{printData.company.address}}</div>
                                                                        <div class="lbl-contact">
                                                                            <span class="lbl-info-caption">Phone: </span><span class="lbl-info-value">{{printData.company.mobile}}</span>
                                                                            <span class="lbl-info-caption">Email: </span><span class="lbl-info-value">{{printData.company.email}}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="w-20">
                                                                <div class="img-brand">&nbsp;</div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </thead>
                        
                                    <tbody>
                                        <tr>    
                                            <td>
                                                <div class="page-content">
                                                    <div class="page-content-header">Weighing Slip</div>
                                                    <div class="section-wrapper">
                                                        <table class="table-border table-info">
                                                            <tr>
                                                                <td class="w-50" rowspan="2">
                                                                    <div class="value-wrapper">
                                                                        <div class="value-container">
                                                                            <span class="lbl-medium">{{printData.vendor.name}}</span>
                                                                        </div>
                                                                        <div class="value-container">
                                                                            <span class="lbl-value">{{printData.vendor.address}}</span>
                                                                        </div>
                                                                        <div class="value-container">
                                                                            <span class="lbl-caption">Contact No: </span>
                                                                            <span class="lbl-value">{{printData.vendor.phone}}</span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="w-25">
                                                                    <div class="lbl-row-caption">Date</div>
                                                                    <div class="lbl-value">{{printData.token.inDate}}</div>
                                                                </td>
                                                                <td class="w-25">
                                                                    <canvas style="display:none;" id="barcode"></canvas>
                                                                    <img class="img-bar-code" ng-src="{{imageBarCode}}">
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                        

                                                    <div class="section-wrapper">
                                                        <table class="table-border table-details">
                                                            <tr>
                                                                <th>S/N</th>
                                                                <th class="text-center">Driver</th>
                                                                <th class="text-center">Vehicle Type</th>
                                                                <th class="text-center">Vehicle Number</th>
                                                                <th class="text-center">Item Type</th>
                                                                <th class="text-center">Item</th>
                                                                <th class="text-center">UOM</th>
                                                                <th class="text-end">Rate</th>
                                                                <th class="text-end">Gross Weight</th>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <th>1</th>
                                                                <th class="text-center">{{printData.token.driver}}</th>
                                                                <th class="text-center">{{printData.token.vehicleType}}</th>
                                                                <th class="text-center">{{printData.token.vehicleNumber}}</th>
                                                                <th class="text-center">{{printData.token.itemType}}</th>
                                                                <th class="text-center">{{printData.token.item}}</th>
                                                                <th class="text-center">{{printData.token.unit}}</th>
                                                                <th class="text-end">{{printData.token.rate}}</th>
                                                                <th class="text-end">{{printData.token.grossWeight}} KG</th>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                    <br>
                                                    <br>
                                        
                                                    <div class="section-wrapper">
                                                        <table class="table-sign-off">
                                                            <tr>
                                                                <td class="text-center">
                                                                    <span class="sign-line"></span>
                                                                    <span>Operator Signature</span>
                                                                </td>
                                                                <td class="text-center">
                                                                    <span class="sign-line"></span>
                                                                    <span>Farmer</span>
                                                                </td>
                                                            </tr> 
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <!-- <tfoot>
                                        <tr>
                                            <td>
                                                <div class="page-footer">
                                                    <table class="footer-table">
                                                        <tr>
                                                            <td class="w-33">
                                                                <div>
                                                                    <span class="lbl-value">Phones: </span>
                                                                    <span class="lbl-caption">{{printData.company.mobile}}</span>
                                                                </div>
                                                            </td>
                                                            <td class="w-33 text-center">
                                                                <div>
                                                                    <span class="lbl-value">Website: </span>
                                                                    <span class="lbl-caption">{{printData.company.website}}</span>
                                                                </div>
                                                            </td>
                                                            <td class="w-33 text-end">
                                                                <div>
                                                                    <span class="lbl-value">E-mail: </span>
                                                                    <span class="lbl-caption">{{printData.company.email}}</span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot> -->
                                </table>

                                <br>
                                <br>
                                <br>

                                <div class="lbl-bold-hr">✂</div><div class="dotted-hr"></div>

                                <br>
                                <br>
                                <br>

                                <table>
                                    <thead>
                                        <tr>
                                            <td>
                                                <div class="page-header">
                                                    <table class="table-page-header">
                                                        <tr>
                                                            <td class="w-20 text-start">
                                                                <img class="img-brand" ng-src="{{printData.company.imageLink}}">
                                                            </td>
                                                            <td class="w-60 text-center brand-details">
                                                                <div class="brand-header">{{printData.company.name}}</div>
                                                                <div class="brand-info">
                                                                    <div class="brand-address">
                                                                        <div class="lbl-location">{{printData.company.address}}</div>
                                                                        <div class="lbl-contact">
                                                                            <span class="lbl-info-caption">Phone: </span><span class="lbl-info-value">{{printData.company.mobile}}</span>
                                                                            <span class="lbl-info-caption">Email: </span><span class="lbl-info-value">{{printData.company.email}}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="w-20">
                                                                <div class="img-brand">&nbsp;</div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </thead>
                        
                                    <tbody>
                                        <tr>    
                                            <td>
                                                <div class="page-content">
                                                    <div class="page-content-header">QC Slip</div>
                                                    <div class="section-wrapper">
                                                        <table class="table-border table-info">
                                                            <tr>
                                                                <td class="w-50">
                                                                    <div class="lbl-row-caption">Date</div>
                                                                    <div class="lbl-value">{{printData.token.inDate}}</div>
                                                                </td>
                                                                <td class="w-50">
                                                                    <canvas style="display:none;" id="barcodeTrn"></canvas>
                                                                    <img class="img-bar-code" ng-src="{{imageBarCodeTrn}}">
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                        

                                                    <div class="section-wrapper">
                                                        <table class="table-border table-details">
                                                            <tr>
                                                                <th class="text-center">Item Type</th>
                                                                <th class="text-center">Item</th>
                                                                <th class="text-center">Uploading Point</th>
                                                                <th class="text-center">Moist %</th>
                                                                <th class="text-center">Dust %</th>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <th class="text-center">{{printData.token.itemType}}</th>
                                                                <th class="text-center">{{printData.token.item}}</th>
                                                                <th class="text-center"></th>
                                                                <th class="text-center"></th>
                                                                <th class="text-center"></th>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                    <br>
                                                    <br>
                                        
                                                    <div class="section-wrapper">
                                                        <table class="table-sign-off">
                                                            <tr>
                                                                <td class="text-center">
                                                                    <span class="sign-line"></span>
                                                                    <span>Lab Chemist</span>
                                                                </td>
                                                                <td class="text-center">
                                                                    <span class="sign-line"></span>
                                                                    <span>Quality Checker</span>
                                                                </td>
                                                            </tr> 
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <!-- <tfoot>
                                        <tr>
                                            <td>
                                                <div class="page-footer">
                                                    <table class="footer-table">
                                                        <tr>
                                                            <td class="w-33">
                                                                <div>
                                                                    <span class="lbl-value">Phones: </span>
                                                                    <span class="lbl-caption">{{printData.company.mobile}}</span>
                                                                </div>
                                                            </td>
                                                            <td class="w-33 text-center">
                                                                <div>
                                                                    <span class="lbl-value">Website: </span>
                                                                    <span class="lbl-caption">{{printData.company.website}}</span>
                                                                </div>
                                                            </td>
                                                            <td class="w-33 text-end">
                                                                <div>
                                                                    <span class="lbl-value">E-mail: </span>
                                                                    <span class="lbl-caption">{{printData.company.email}}</span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot> -->
                                </table>
                                
                            </div>
                            <div class="mt-3 text-center d-print-none">

                                <button type="button" class="btn btn-secondary btn-modal-action" data-bs-dismiss="modal"
                                    ng-click="close()">Close</button>
                                <button type="submit" onclick="printModalContent()"
                                    class="btn btn-success btn-modal-print">Print</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- ====================Modal View======================= -->
        </div>

        </div>
    </section>
    <script src="private/controller/PlantServiceController.js"></script>

    <script>
        $("#datepicker1").flatpickr({
            dateFormat: "Y-m-d",
            allowInput: true,
            disableMobile: true,
            onClose: function (selectedDates, dateStr, instance) {
                // When a date is selected in datepicker2, set the minimum date in datepicker3
                if (selectedDates.length > 0) {
                    var minDate = selectedDates[0];
                    $("#datepicker2").flatpickr({
                        dateFormat: "Y-m-d",
                        allowInput: true,
                        disableMobile: true,
                        minDate: minDate,
                    });
                }
            }
        });
        $("#datepicker2").flatpickr({
            dateFormat: "Y-m-d",
            allowInput: true,
            disableMobile: "true",
        });
    </script>

</body>

</html>