<!DOCTYPE html>
<html
    th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

</html>

<head>
    <title>SRMPS | Paid Bill</title>
</head>

<body>

    <section>
        <div ng-controller="PaidBill">
            <div class="breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/plant-home}">
                                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="icon-common icon-breadcrumb icon-bill-payment"></span><span>Paid Bill</span>
                        </li>
                    </ol>
                </nav>
            </div>

            <!-- // List Token -->

            <div class="body-area" ng-show="views.list">
                <div class="body-area-header">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="body-area-tittle">Bill Payment</div>
                        </div>
                    </div>
                </div>
                <div class="body-area-content">
                    <div class="user-table-container">
                        <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                            <thead>
                                <tr class="table-head-primary">
                                    <th>SL No.</th>
                                    <th>Date</th>
                                    <th>Bill Number</th>
                                    <th>Bill Type</th>
                                    <th>Vendor</th>
                                    <th>Paid Amount</th>
                                    <th>Paint</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="bill in tokens">
                                    <td>{{$index + 1}}</td>
                                    <td><span class="user-role">{{bill.date}}</span></td>
                                    <td><span class="user-role">{{bill.transaction_number}}</span></td>
                                    <td>
                                        <span ng-if="bill.holdBill" class="user-role">Hold Bill</span>
                                        <span ng-if="!bill.holdBill" class="user-role">Bill Payment</span>
                                    </td>
                                    <td><span class="user-role">{{bill.name}}</span></td>
                                    <td><span class="user-role">{{bill.paidAmount}} Rs</span></td>
                                    <td>
                                        <div sec:authorize="hasAnyAuthority('PRINT','ADMIN')" class="d-flex me-2">
                                            <span><a title="Print" ng-click="BillPrint(bill.transaction_number)"
                                                    class="btn btn-action btn-action-edit"><span
                                                        class="lbl-btn-action"></span><span
                                                        class="icon-common icon-btn icon-print"></span></a></span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- ====================Modal View======================= -->


            <div class="modal fade" id="print_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" id="modalContentToPrint">
                        <div class="modal-header">
                            <h5 ng-if="printData.billData[0].holdBill" class="modal-title" id="staticBackdropLabel">
                                Hold Bill Payment Voucher
                            </h5>
                            <h5 ng-if="!printData.billData[0].holdBill" class="modal-title" id="staticBackdropLabel">
                                Payment Voucher
                            </h5>
                            <button type="button" class="btn-close d-print-none" data-bs-dismiss="modal"
                                aria-label="Close" ng-click="close()">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>

                        </div>
                        <div class="modal-body" id="modalContentToPrint">

                            <div class="report-page">
                                <table>
                                    <thead>
                                        <tr>
                                            <td>
                                                <div class="page-header">
                                                    <table class="table-page-header">
                                                        <tr>
                                                            <td class="w-20 text-start">
                                                                <img class="img-brand"
                                                                    ng-src="{{printData.company.imageLink}}">
                                                            </td>
                                                            <td class="w-60 text-center brand-details">
                                                                <div class="brand-header">{{printData.company.name}}
                                                                </div>
                                                                <div class="brand-info">
                                                                    <div class="brand-address">
                                                                        <div class="lbl-location">
                                                                            {{printData.company.address}}</div>
                                                                        <div class="lbl-contact">
                                                                            <span class="lbl-info-caption">Phone:
                                                                            </span><span
                                                                                class="lbl-info-value">{{printData.company.mobile}}</span>
                                                                            <span class="lbl-info-caption">Email:
                                                                            </span><span
                                                                                class="lbl-info-value">{{printData.company.email}}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="w-20">
                                                                <div class="img-brand">&nbsp;</div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="page-content">
                                                    <div class="page-content-header">Payment Voucher</div>
                                                    <div class="section-wrapper">
                                                        <table class="table-border table-info">
                                                            <tr>
                                                                <td class="w-50" rowspan="2">
                                                                    <div class="lbl-header">Vendor Details: </div>
                                                                    <div class="value-wrapper">
                                                                        <div class="value-container">
                                                                            <span
                                                                                class="lbl-medium">{{printData.vendor.name}}</span>
                                                                        </div>
                                                                        <div class="value-container">
                                                                            <span
                                                                                class="lbl-value">{{printData.vendor.address}}</span>
                                                                        </div>
                                                                        <div class="value-container">
                                                                            <span
                                                                                class="lbl-value">{{printData.vendor.city}}-
                                                                                {{printData.vendor.pinCode}}</span>
                                                                        </div>
                                                                        <div class="value-container">
                                                                            <span class="lbl-caption">Contact No:
                                                                            </span>
                                                                            <span
                                                                                class="lbl-value">{{printData.vendor.phone}}</span>
                                                                        </div>
                                                                        <div class="value-container">
                                                                            <span class="lbl-caption">PAN: </span>
                                                                            <span
                                                                                class="lbl-value">{{printData.vendor.pan}}</span>
                                                                        </div>
                                                                        <div class="value-container">
                                                                            <span class="lbl-caption">Aadhaar: </span>
                                                                            <span
                                                                                class="lbl-value">{{printData.vendor.aadhaar}}</span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="w-25">
                                                                    <div class="lbl-row-caption">Bill Number</div>
                                                                    <div class="lbl-value">
                                                                        {{printData.billData[0].transactionNumber}}
                                                                    </div>
                                                                </td>
                                                                <td class="w-25">
                                                                    <div class="lbl-row-caption">Location</div>
                                                                    <div class="lbl-value">{{printData.plant.name}}
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="lbl-row-caption">Date</div>
                                                                    <div class="lbl-value">
                                                                        {{printData.billData[0].date}}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="lbl-row-caption">TIme</div>
                                                                    <div class="lbl-value">{{printData.billData[0].time
                                                                        | timeFormat}}
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>


                                                    <div ng-if="!printData.billData[0].holdBill"
                                                        class="section-wrapper">
                                                        <table class="table-border table-details">
                                                            <tr>
                                                                <th>S/N</th>
                                                                <th class="text-center">Bill Number</th>
                                                                <th class="text-center">Paid To</th>
                                                                <th class="text-center">Contact Number</th>
                                                                <th class="text-end">Gross Amount</th>
                                                                <th class="text-end">Pay Amount</th>
                                                            </tr>

                                                            <tr ng-repeat="bill in printData.billData">
                                                                <th>1</th>
                                                                <th class="text-end">{{bill.billNumber}}</th>
                                                                <th class="text-end">{{bill.paidTo}}</th>
                                                                <th class="text-end">{{bill.contactNumber}}</th>
                                                                <th class="text-end">{{bill.grossAmount}}</th>
                                                                <th class="text-end">{{bill.payable}}</th>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="4">
                                                                    <div class="d-flex">
                                                                        <span class="lbl-bold lbl-word-caption">Amount
                                                                            In Words: </span>
                                                                        <span>{{printData.totalAmountWord}}</span>
                                                                    </div>
                                                                </td>
                                                                <td colspan="1" class="text-end">Total:</td>
                                                                <td class="text-end lbl-bold">{{printData.totalAmount}}
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </div>
                                                    <div ng-if="printData.billData[0].holdBill" class="section-wrapper">
                                                        <table class="table-border table-details">
                                                            <tr>
                                                                <th>S/N</th>
                                                                <th class="text-center">Bill Number</th>
                                                                <th class="text-center">Paid To</th>
                                                                <th class="text-center">Contact Number</th>
                                                                <th class="text-end">Pay Amount</th>
                                                            </tr>

                                                            <tr ng-repeat="bill in printData.billData">
                                                                <th>1</th>
                                                                <th class="text-end">{{bill.billNumber}}</th>
                                                                <th class="text-end">{{bill.paidTo}}</th>
                                                                <th class="text-end">{{bill.contactNumber}}</th>
                                                                <th class="text-end">{{bill.payable}}</th>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="3">
                                                                    <div class="d-flex">
                                                                        <span class="lbl-bold lbl-word-caption">Amount
                                                                            In Words: </span>
                                                                        <span>{{printData.totalAmountWord}}</span>
                                                                    </div>
                                                                </td>
                                                                <td colspan="1" class="text-end">Total:</td>
                                                                <td class="text-end lbl-bold">{{printData.totalAmount}}
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </div>

                                                    <div class="section-wrapper">
                                                        <table class="table-sign-off">

                                                            <tr>
                                                                <td class="w-50">
                                                                    <table class="w-100">
                                                                        <tr>
                                                                            <td colspan="2"><span
                                                                                    class="value-container lbl-bold">Vendor
                                                                                    Bank Details</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><span class="lbl-caption">Bank Name:
                                                                                </span></td>
                                                                            <td><span
                                                                                    class="lbl-value lbl-medium">{{printData.vendor.bank}}</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><span class="lbl-caption">Account No:
                                                                                </span></td>
                                                                            <td><span
                                                                                    class="lbl-value lbl-medium">{{printData.vendor.accountNo}}</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><span class="lbl-caption">Branch:
                                                                                </span></td>
                                                                            <td><span
                                                                                    class="lbl-value lbl-medium">{{printData.vendor.branch}}</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><span class="lbl-caption">IFSC Code:
                                                                                </span></td>
                                                                            <td><span
                                                                                    class="lbl-value lbl-medium">{{printData.vendor.ifsc}}</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><span class="lbl-caption">MMID Code:
                                                                                </span></td>
                                                                            <td><span
                                                                                    class="lbl-value lbl-medium">{{printData.vendor.mmid}}</span>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <br>
                                                        <br>
                                                        <br>

                                                        <div class="section-wrapper">
                                                            <table class="table-sign-off">
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <span class="sign-line"></span>
                                                                        <span>Paid By</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span class="sign-line"></span>
                                                                        <span>Approved By</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span class="sign-line"></span>
                                                                        <span>Checked By</span>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <span class="sign-line"></span>
                                                                        <span>Payment Received</span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <td>
                                                <div class="page-footer">
                                                    <table class="footer-table">
                                                        <tr>
                                                            <td class="w-33">
                                                                <div>
                                                                    <span class="lbl-value">Phones: </span>
                                                                    <span
                                                                        class="lbl-caption">{{printData.company.mobile}}</span>
                                                                </div>
                                                            </td>
                                                            <td class="w-33 text-center">
                                                                <div>
                                                                    <span class="lbl-value">Website: </span>
                                                                    <span
                                                                        class="lbl-caption">{{printData.company.website}}</span>
                                                                </div>
                                                            </td>
                                                            <td class="w-33 text-end">
                                                                <div>
                                                                    <span class="lbl-value">E-mail: </span>
                                                                    <span
                                                                        class="lbl-caption">{{printData.company.email}}</span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <div class="mt-3 text-center d-print-none">

                                <button type="button" class="btn btn-secondary btn-modal-action" data-bs-dismiss="modal"
                                    ng-click="close()">Close</button>
                                <button type="submit" onclick="printDataModel('modalContentToPrint')"
                                    class="btn btn-success btn-modal-print">Print</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>
    <script src="private/controller/PlantServiceController.js"></script>

</body>

</html>