<!DOCTYPE html>
<html
    th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

<head>
    <title>SRMPS | Report</title>
</head>

<body>

    <section>
        <div ng-controller="ReportController">
            <div class="breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/plant-home}">
                                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="icon-common icon-breadcrumb icon-report"></span><span>Report</span>
                        </li>
                    </ol>
                </nav>
            </div>

            <div>
                <div class="body-area" style="margin-top:15px;">
                    <div class="body-area-content">
                        <hr style="height: 1px;">
                        <div class="user-table-container">
                            <div class="header-action-container">
                                <ul class="nav nav-tabs tabsItem" role="tablist" style="justify-content: center;">
                                    <li class="nav-item" role="presentation"><a showtab="" class="nav-link"
                                            href="#contract-data" ng-click="YearCodeData()" aria-controls="contract-data"
                                            role="tab" data-toggle="tab">Contract Data</a></li>
                                    <li class="nav-item" role="presentation"><a showtab="" class="nav-link"
                                            href="#token-details" ng-click="TokenDetails()"
                                            aria-controls="token-details" role="tab" data-toggle="tab">Token Details</a>
                                    </li>
                                    <!-- <li class="nav-item" role="presentation"><a showtab="" class="nav-link"
                                            href="#bill-details" ng-click="BillDetails()"
                                            aria-controls="bill-details" role="tab" data-toggle="tab">Bill Details</a>
                                    </li>
                                    <li class="nav-item" role="presentation"><a showtab="" class="nav-link"
                                            href="#bill-payment" ng-click="BillPayment()"
                                            aria-controls="bill-payment" role="tab" data-toggle="tab">Bill Payment</a>
                                    </li>
                                    <li class="nav-item" role="presentation"><a showtab="" class="nav-link"
                                            href="#hold-bill-payment" ng-click="HoldBillPayment()"
                                            aria-controls="hold-bill-payment" role="tab" data-toggle="tab">Hold Bill Payment</a>
                                    </li> -->
                                </ul>
                            </div>
                            <hr style="height: 1px;">

                            <div class="tab-content tabcontent-border">

                                <div role="tabpanel" class="tab-pane tb-pane-padding" id="contract-data">
                                    <div class="col-lg-2 col-sm-2">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="note">
                                                Year: <span class="text-danger">*</span>
                                            </label>
                                            <select name="employeeId" ng-model="yearCd" class="form-control select2"
                                                ng-options="code.year_code as code.year_code for code in yearCode"
                                                ng-change="ContractData(yearCd)" required>
                                                <option value="" disabled selected>Select an Year</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                                            <thead>
                                                <tr class="table-head-primary">
                                                    <th>SL No.</th>
                                                    <th>Year Code</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Vendor</th>
                                                    <th>Item Type</th>
                                                    <th>Item</th>
                                                    <th>Rate</th>
                                                    <th>Quantity</th>
                                                    <th>Receive Quantity</th>
                                                    <th>Pending Quantity</th>
                                                    <th>Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in contractData">
                                                    <td>{{$index + 1}}</td>
                                                    <td><span class="user-role">{{data.yearCode}}</span></td>
                                                    <td><span class="user-role">{{data.startDate}}</span></td>
                                                    <td><span class="user-role">{{data.endDate}}</span></td>
                                                    <td><span class="user-role">{{data.vendorName}}</span></td>
                                                    <td><span class="user-role">{{data.itemType}}</span></td>
                                                    <td><span class="user-role">{{data.item}}</span></td>
                                                    <td><span class="user-role">{{data.rate}} Rs.</span></td>
                                                    <td><span class="user-role">{{data.quantity}}{{data.unit}}</span></td>
                                                    <td><span class="user-role">{{data.receiveQuantity}}{{data.unit}}</span></td>
                                                    <td><span class="user-role">{{data.pendingQuantity}}{{data.unit}} </span></td>
                                                    <td><span class="user-role">{{data.remarks}}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane tb-pane-padding" id="token-details">
                                    <div class="table-responsive">
                                        <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                                            <thead>
                                                <tr class="table-head-primary">
                                                    <th>SL No.</th>
                                                    <th>Year Code</th>
                                                    <th>Date</th>
                                                    <th>In Time</th>
                                                    <th>Out Time</th>
                                                    <th>Token</th>
                                                    <th>Vendor Type</th>
                                                    <th>Vendor</th>
                                                    <th>Item Type</th>
                                                    <th>Item</th>
                                                    <th>Rate</th>
                                                    <th>Gross Weight</th>
                                                    <th>Tare Weight</th>
                                                    <th>Unloading Point</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in tokens">
                                                    <td>{{$index + 1}}</td>
                                                    <td><span class="user-role">{{data.yearCode}}</span></td>
                                                    <td><span class="user-role">{{data.inDate}}</span></td>
                                                    <td><span class="user-role">{{data.inTime}}</span></td>
                                                    <td><span class="user-role">{{data.outTime}}</span></td>
                                                    <td><span class="user-role">{{data.tokenNumber}}</span></td>
                                                    <td><span class="user-role">{{data.vendorType}}</span></td>
                                                    <td><span class="user-role">{{data.vendorName}}</span></td>
                                                    <td><span class="user-role">{{data.itemType}}</span></td>
                                                    <td><span class="user-role">{{data.item}}</span></td>
                                                    <td><span class="user-role">{{data.rate}}</span></td>
                                                    <td><span class="user-role">{{data.grossWeight}}</span></td>
                                                    <td><span class="user-role">{{data.tareWeight}}</span></td>
                                                    <td><span class="user-role">{{data.unloadingPoint}}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane tb-pane-padding" id="bill-details">
                                    <div class="table-responsive">
                                        <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                                            <thead>
                                                <tr class="table-head-primary">
                                                    <th>SL No.</th>
                                                    <th>Type</th>
                                                    <th>Location</th>
                                                    <th>Asset Tag ID</th>
                                                    <th>Serial Number</th>
                                                    <th>Model</th>
                                                    <th>Manufacturer</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in assetEmpData">
                                                    <td>{{$index + 1}}</td>
                                                    <td><span class="user-role">{{data.type}}</span></td>
                                                    <td><span class="user-role">{{data.location}}</span></td>
                                                    <td><span class="user-role">{{data.asset_tag_id}}</span></td>
                                                    <td><span class="user-role">{{data.serial_no}}</span></td>
                                                    <td><span class="user-role">{{data.model}}</span></td>
                                                    <td><span class="user-role">{{data.name}}</span></td>
                                                    <td><span class="user-role">{{data.description}}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane tb-pane-padding" id="bill-payment">
                                    <div class="table-responsive">
                                        <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                                            <thead>
                                                <tr class="table-head-primary">
                                                    <th>SL No.</th>
                                                    <th>Type</th>
                                                    <th>Location</th>
                                                    <th>Asset Tag ID</th>
                                                    <th>Serial Number</th>
                                                    <th>Model</th>
                                                    <th>Manufacturer</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in assetEmpData">
                                                    <td>{{$index + 1}}</td>
                                                    <td><span class="user-role">{{data.type}}</span></td>
                                                    <td><span class="user-role">{{data.location}}</span></td>
                                                    <td><span class="user-role">{{data.asset_tag_id}}</span></td>
                                                    <td><span class="user-role">{{data.serial_no}}</span></td>
                                                    <td><span class="user-role">{{data.model}}</span></td>
                                                    <td><span class="user-role">{{data.name}}</span></td>
                                                    <td><span class="user-role">{{data.description}}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane tb-pane-padding" id="hold-bill-payment">
                                    <div class="table-responsive">
                                        <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                                            <thead>
                                                <tr class="table-head-primary">
                                                    <th>SL No.</th>
                                                    <th>Type</th>
                                                    <th>Location</th>
                                                    <th>Asset Tag ID</th>
                                                    <th>Serial Number</th>
                                                    <th>Model</th>
                                                    <th>Manufacturer</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in assetEmpData">
                                                    <td>{{$index + 1}}</td>
                                                    <td><span class="user-role">{{data.type}}</span></td>
                                                    <td><span class="user-role">{{data.location}}</span></td>
                                                    <td><span class="user-role">{{data.asset_tag_id}}</span></td>
                                                    <td><span class="user-role">{{data.serial_no}}</span></td>
                                                    <td><span class="user-role">{{data.model}}</span></td>
                                                    <td><span class="user-role">{{data.name}}</span></td>
                                                    <td><span class="user-role">{{data.description}}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </section>

    <script src="private/controller/ReportController.js"></script>

</body>

</html>