<!DOCTYPE html>
<html th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

</html>

<head>
    <title>SRMPS | Token Data Update</title>
</head>

<body>
    <section>
        <div ng-controller="TokenDataUpdate">
            <div class="breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/plant-home}">
                                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="icon-common icon-breadcrumb icon-gross-weight"></span><span>Token Data
                                Update</span>
                        </li>
                    </ol>
                </nav>
            </div>
            <!-- // List Token -->
            <div class="body-area" ng-show="views.list">
                <div class="body-area-header">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="body-area-tittle">Token Data Update</div>
                        </div>
                        <div sec:authorize="hasAnyAuthority('ADD','ADMIN')" class="col-md-8 d-flex justify-content-end">
                            <span><button title="Upload" class="btn btn-action-header btn-action-upload"
                                    ng-click="enterGrossToken()"><span class="lbl-btn-action"></span>
                                    <span class="icon-common icon-btn-header icon-add"></span></button></button></span>
                        </div>
                    </div>
                </div>
                <div class="body-area-content">
                    <div class="user-table-container">
                        <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                            <thead>
                                <tr class="table-head-primary">
                                    <th>SL No.</th>
                                    <th>Date</th>
                                    <th>Token</th>
                                    <th>Item</th>
                                    <th>Rate</th>
                                    <th>Moist</th>
                                    <th>Dust</th>
                                    <th>Gross Weight</th>
                                    <th>Tare Weight</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="token in tokens">
                                    <td>{{$index + 1}}</td>
                                    <td><span class="user-role">{{token.date}}</span></td>
                                    <td><span class="user-role">{{token.tokenNumber}}</span></td>
                                    <td>
                                        <div>
                                            <span class="user-details-caption">Change: </span>
                                            <span ng-if="token.changeItem == true" class="user-details-value">YES</span>
                                            <span ng-if="token.changeItem == false" class="user-details-value">NO</span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">Old Value: </span>
                                            <span class="user-details-value">{{token.oldItemId}}</span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">New Value: </span>
                                            <span class="user-details-value">{{token.newItemId}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <span class="user-details-caption">Change: </span>
                                            <span ng-if="token.changeRate == true" class="user-details-value">YES</span>
                                            <span ng-if="token.changeRate == false" class="user-details-value">NO</span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">Old Value: </span>
                                            <span class="user-details-value">{{token.oldRate}}</span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">New Value: </span>
                                            <span class="user-details-value">{{token.newRate}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <span class="user-details-caption">Change: </span>
                                            <span ng-if="token.changeMoist == true" class="user-details-value">YES</span>
                                            <span ng-if="token.changeMoist == false" class="user-details-value">NO</span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">Old Value: </span>
                                            <span class="user-details-value">{{token.oldMoist}}</span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">New Value: </span>
                                            <span class="user-details-value">{{token.newMoist}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <span class="user-details-caption">Change: </span>
                                            <span ng-if="token.changeDust == true" class="user-details-value">YES</span>
                                            <span ng-if="token.changeDust == false" class="user-details-value">NO</span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">Old Value: </span>
                                            <span class="user-details-value">{{token.oldDust}}</span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">New Value: </span>
                                            <span class="user-details-value">{{token.newDust}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <span class="user-details-caption">Change: </span>
                                            <span ng-if="token.changeGrossWeight == true" class="user-details-value">YES</span>
                                            <span ng-if="token.changeGrossWeight == false" class="user-details-value">NO</span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">Old Value: </span>
                                            <span class="user-details-value">{{token.oldGrossWeight}}</span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">New Value: </span>
                                            <span class="user-details-value">{{token.newGrossWeight}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <span class="user-details-caption">Change: </span>
                                            <span ng-if="token.changeTareWeight == true" class="user-details-value">YES</span>
                                            <span ng-if="token.changeTareWeight == false" class="user-details-value">NO</span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">Old Value: </span>
                                            <span class="user-details-value">{{token.oldTareWeight}}</span>
                                        </div>
                                        <div>
                                            <span class="user-details-caption">New Value: </span>
                                            <span class="user-details-value">{{token.newTareWeight}}</span>
                                        </div>
                                    </td>

                                    <td><span class="user-role">{{token.remarks}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- ====================Modal View======================= -->
            <div class="modal fade" id="gross_weight_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span>Token Data Update</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                ng-click="close()">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form" ng-submit="saveToken()"
                                autocomplete="off">

                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Token: <span class="text-danger">*</span>
                                            </label>
                                            <div class="d-flex me-2">

                                                <input name="name" type="text" ng-model="token"
                                                    ng-change="delayedGetToken(token)" class="form-control"
                                                    placeholder="Enter Token" required />

                                                <span>
                                                    <a title="Print" ng-click="getToken(token)"
                                                        class="btn btn-action btn-action-edit ms-2">
                                                        <span class="lbl-btn-action"></span>
                                                        <span class="icon-common icon-btn icon-search"></span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-hide="controlDisable" class="row align-items-center">
                                    <div class="col-2">
                                        <h5>Item</h5>
                                        <label class="switch">
                                            <input class="user" type="checkbox" data-id="2" ng-model="form.changeItem"
                                                name="status" checked="">
                                            <span class="knob"></span>
                                        </label>
                                        <div ng-hide="!form.changeItem">
                                            <div class="form-group">
                                                <label class="text-dark lbl-medium" for="planName">
                                                    Old: <span class="text-danger">*</span>
                                                </label>
                                                <select disabled name="Role" ng-model="form.oldItemId"
                                                    class="form-control"
                                                    ng-options="item.id as item.type+'-'+item.name for item in items">
                                                    <option value="" disabled selected>Select an item</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="text-dark lbl-medium" for="planName">
                                                    New: <span class="text-danger">*</span>
                                                </label>
                                                <select name="Role" ng-model="form.newItemId" class="form-control"
                                                    ng-options="item.id as item.type+'-'+item.name for item in items">
                                                    <option value="" disabled selected>Select an item</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <h5>Rate</h5>
                                        <label class="switch">
                                            <input class="user" type="checkbox" data-id="2" ng-model="form.changeRate"
                                                name="status" checked="">
                                            <span class="knob"></span>
                                        </label>
                                        <div ng-hide="!form.changeRate">
                                            <div class="form-group">
                                                <label class="text-dark lbl-medium" for="hold1">
                                                    Old: <span class="text-danger">*</span>
                                                </label>
                                                <input name="hold1" type="number" step="0.01" min="0.00"
                                                    ng-model="form.oldRate" class="form-control" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label class="text-dark lbl-medium" for="hold2">
                                                    New: <span class="text-danger">*</span>
                                                </label>
                                                <input name="hold2" type="number" step="0.01" min="0.00"
                                                    ng-model="form.newRate" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <h5>Moist</h5>
                                        <label class="switch">
                                            <input class="user" type="checkbox" data-id="2" ng-model="form.changeMoist"
                                                name="status" checked="">
                                            <span class="knob"></span>
                                        </label>
                                        <div ng-hide="!form.changeMoist">
                                            <div class="form-group">
                                                <label class="text-dark lbl-medium" for="hold1">
                                                    Old: <span class="text-danger">*</span>
                                                </label>
                                                <input name="hold1" type="number" step="0.01" min="0.00"
                                                    ng-model="form.oldMoist" class="form-control" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label class="text-dark lbl-medium" for="hold2">
                                                    New: <span class="text-danger">*</span>
                                                </label>
                                                <input name="hold2" type="number" step="0.01" min="0.00"
                                                    ng-model="form.newMoist" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <h5>Dust</h5>
                                        <label class="switch">
                                            <input class="user" type="checkbox" data-id="2" ng-model="form.changeDust"
                                                name="status" checked="">
                                            <span class="knob"></span>
                                        </label>
                                        <div ng-hide="!form.changeDust">
                                            <div class="form-group">
                                                <label class="text-dark lbl-medium" for="hold1">
                                                    Old: <span class="text-danger">*</span>
                                                </label>
                                                <input name="hold1" type="number" step="0.01" min="0.00"
                                                    ng-model="form.oldDust" class="form-control" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label class="text-dark lbl-medium" for="hold2">
                                                    New: <span class="text-danger">*</span>
                                                </label>
                                                <input name="hold2" type="number" step="0.01" min="0.00"
                                                    ng-model="form.newDust" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <h5>Gross W.</h5>
                                        <label class="switch">
                                            <input class="user" type="checkbox" data-id="2"
                                                ng-model="form.changeGrossWeight" name="status" checked="">
                                            <span class="knob"></span>
                                        </label>
                                        <div ng-hide="!form.changeGrossWeight">
                                            <div class="form-group">
                                                <label class="text-dark lbl-medium" for="hold1">
                                                    Old: <span class="text-danger">*</span>
                                                </label>
                                                <input name="hold1" type="number" step="0.01" min="0.00"
                                                    ng-model="form.oldGrossWeight" class="form-control" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label class="text-dark lbl-medium" for="hold2">
                                                    New: <span class="text-danger">*</span>
                                                </label>
                                                <input name="hold2" type="number" step="0.01" min="0.00"
                                                    ng-model="form.newGrossWeight" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <h5>Tare W.</h5>
                                        <label class="switch">
                                            <input class="user" type="checkbox" data-id="2"
                                                ng-model="form.changeTareWeight" name="status" checked="">
                                            <span class="knob"></span>
                                        </label>
                                        <div ng-hide="!form.changeTareWeight">
                                            <div class="form-group">
                                                <label class="text-dark lbl-medium" for="hold1">
                                                    Old: <span class="text-danger">*</span>
                                                </label>
                                                <input name="hold1" type="number" step="0.01" min="0.00"
                                                    ng-model="form.oldTareWeight" class="form-control" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label class="text-dark lbl-medium" for="hold2">
                                                    New: <span class="text-danger">*</span>
                                                </label>
                                                <input name="hold2" type="number" step="0.01" min="0.00"
                                                    ng-model="form.newTareWeight" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Remarks: <span class="text-danger">*</span>
                                            </label>
                                            <input name="name" type="text" ng-model="form.remarks" class="form-control"
                                                placeholder="Enter Remarks" required />
                                        </div>
                                    </div>
                                </div>


                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-modal-action"
                                        data-bs-dismiss="modal" ng-click="close()">Close</button>
                                    <button type="submit" ng-hide="controlDisable"
                                        class="btn btn-success btn-modal-action">Save</button>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="search_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span>Search</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                ng-click="close()">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form" ng-submit="searchGrossWeight()"
                                autocomplete="off">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Start Date: <span class="text-danger">*</span>
                                            </label>
                                            <input name="name" type="text" ng-model="searchForm.startDate"
                                                class="form-control" id="datepicker1" placeholder="Enter Name" required
                                                readonly />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                End Date: <span class="text-danger">*</span>
                                            </label>
                                            <input name="name" type="text" ng-model="searchForm.endDate"
                                                class="form-control" id="datepicker2" placeholder="Enter Name" required
                                                readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-modal-action"
                                        data-bs-dismiss="modal" ng-click="close()">Close</button>
                                    <button type="submit" class="btn btn-success btn-modal-action">search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ====================Modal View======================= -->
        </div>

        </div>
    </section>
    <script src="private/controller/PlantServiceController.js"></script>

    <script>
        $("#datepicker1").flatpickr({
            dateFormat: "Y-m-d",
            allowInput: true,
            disableMobile: true,
            onClose: function (selectedDates, dateStr, instance) {
                // When a date is selected in datepicker2, set the minimum date in datepicker3
                if (selectedDates.length > 0) {
                    var minDate = selectedDates[0];
                    $("#datepicker2").flatpickr({
                        dateFormat: "Y-m-d",
                        allowInput: true,
                        disableMobile: true,
                        minDate: minDate,
                    });
                }
            }
        });
        $("#datepicker2").flatpickr({
            dateFormat: "Y-m-d",
            allowInput: true,
            disableMobile: "true",
        });
    </script>

</body>

</html>