<!DOCTYPE html>
<html th:fragment="layout (title,style,section,script)" lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:replace="${title}">SRMPS</title>

    <!-- New UI plugins -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="assets/css/flatpickr.min.css" rel="stylesheet">
    <link href="assets/css/pikaday.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="assets/css/site.css" rel="stylesheet">
    <link
        href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-1.13.6/b-2.4.2/sl-1.7.0/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/r-2.5.0/sb-1.6.0/sp-2.2.0/datatables.min.css"
        rel="stylesheet">
    <link href="assets/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
        integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- linking fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="assets/icons/fav-icon/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <th:block th:if="${style}">
        <th:block th:replace="${style}" />
    </th:block>
</head>

<body>
    <div class="main-wrapper menu-close" id="mainWrapper">
        <div class="header">
            <div class="logo-container">
                <div class="nav-toggle-container" id="navToggler">
                    <span class="toggler-icon-top"></span> <span class="toggler-icon-middle"></span> <span
                        class="toggler-icon-bottom"></span>
                </div>
                <img src="assets/images/logo.png" alt="" srcset="" class="nav-logo">
            </div>
            <img src="assets/images/logo.png" alt="" srcset="" class="header-logo">
            <div class="greetings-container">
                <div class="d-none d-xl-flex">
                    <span class="lbl-greetings" id="greetingSpan">, </span>
                    <span class="greetings-role capitalize">&nbsp;<span
                            th:text="${#authentication.getPrincipal().getUser().getName}"></span></span>
                </div>
                <div id="lblShowDate" class="d-none d-xl-flex"></div>
            </div>
            <div class="toolbar-container">
                <div class="toolbar-item">
                    <div class="datepicker-container">
                        <div class="dropdown">
                            <a class="toolbar-link" href="#" role="button" id="dropdowncal" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span class="icon-common icon-topbar icon-calendar"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="toolbar-item">
                    <div class="profile-container">
                        <div class="dropdown">
                            <a class="toolbar-link" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <div>
                                    <span class="icon-profile-container">
                                        <img src="assets/icons/user.svg" alt="">
                                    </span>
                                </div>
                                <div class="profile-name-container">
                                    <span class="profile-name"
                                        th:text="${#authentication.getPrincipal().getUser().getName}"></span>
                                    <span class="icon-common icon-toolbar icon-chevron"></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu profile-details-container" aria-labelledby="dropdownMenuLink"
                                style="transform: translate(-12px, 60px) !important;">
                                <li class="media dropdown-item"><a th:href="@{/profile}" class="profile-container">
                                        <span class="icon-common icon-header-dropdown-items icon-profile"></span>
                                        <span class="lbl-header-menu">My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dv-separator mt-1 mb-1"></div>
                                </li>
                                <li th:if="${#authentication.getPrincipal()} != 'anonymousUser'"
                                    class="media dropdown-item"><a th:href="@{/logout}" class="logout-container"> <span
                                            class="icon-common icon-header-dropdown-items icon-logout"></span>
                                        <span class="lbl-header-menu">Logout</span>
                                    </a>
                                </li>
                                <li th:if="${#authentication.getPrincipal()} == 'anonymousUser'"
                                    class="media dropdown-item"><a th:href="@{/login}" class="logout-container"> <span
                                            class="icon-common icon-header-dropdown-items icon-logout"></span>
                                        <span class="lbl-header-menu">LOGIN</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="body" ng-app="Application">
            <div class="left-bar" id="navContainer">
                <div class="side-menu" id="navMenu">
                    <div class="side-menu-header d-none"></div>
                    <div class="side-menu-body">
                        <ul class="nav-menu-container">
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/dashboard}">
                                    <span class="icon-common icon-sidemenu icon-dashboard"></span>
                                    <span class="link-name">Dashboard </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/token}">
                                    <span class="icon-common icon-sidemenu icon-token"></span>
                                    <span class="link-name">Token Generation</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/token}">
                                    <span class="icon-common icon-sidemenu icon-token"></span>
                                    <span class="link-name">Token Generation</span>
                                </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/report}">
                                    <span class="icon-common icon-sidemenu icon-report"></span>
                                    <span class="link-name">Report</span>
                                </a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" onclick="toggleSubMenu(this)">
                                    <span class="icon-common icon-sidemenu icon-master-setup"></span>
                                    <span class="link-name">Common Master</span> <span
                                        class="icon-common icon-sidemenu icon-chevron"></span>
                                </a>
                                <ul class="sub-menu-container">
                                    <li class="sub-menu-item">
                                        <a th:href="@{/particulars}" class="sub-menu-link">
                                            <span class="icon-common icon-submenu icon-weighbridge"></span>
                                            <span class="submenu-link-label">Particulars</span>
                                        </a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a th:href="@{/unloading-point}" class="sub-menu-link">
                                            <span class="icon-common icon-submenu icon-unloading-point"></span>
                                            <span class="submenu-link-label">Unloading Point</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                        <ul class="nav-menu-container">
                            <li class="nav-item">
                                <a class="nav-link" onclick="toggleSubMenu(this)">
                                    <span class="icon-common icon-sidemenu icon-help"></span>
                                    <span class="link-name">Help</span> <span
                                        class="icon-common icon-sidemenu icon-chevron"></span>
                                </a>
                                <ul class="sub-menu-container">
                                    <li class="sub-menu-item">
                                        <a th:href="@{/user-guide}" class="sub-menu-link">
                                            <span class="icon-common icon-submenu icon-user-guide"></span>
                                            <span class="submenu-link-label">User Guide</span>
                                        </a>
                                    </li>
                                    <li class="sub-menu-item">
                                        <a th:href="@{/release-notes}" class="sub-menu-link">
                                            <span class="icon-common icon-submenu icon-release-note"></span>
                                            <span class="submenu-link-label">Release Notes</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right-bar">
                <div class="body-wrapper" id="bodyWrapper">
                    <!-- views will be rendered here -->
                    <div id='parentDBArea' ng-view class="view-area">

                        <div class="preloader no-print" id="overlay">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                    stroke-miterlimit="10" />
                            </svg>
                        </div>


                        <div th:replace="${section}">
                        </div>


                    </div>
                    <div class="footer">
                        <div class="lbl-footer">Copyright © VARELI TECHSOFT Pvt. Ltd</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="assets/js/angular.min.js" type="text/javascript"></script>
    <script src="assets/js/assetmanage.js" type="text/javascript"></script>
    <script src="assets/js/sweetalert2@11.js" type="text/javascript"></script>
    <script src="assets/js/flatpickr.min.js" type="text/javascript"></script>
    <script src="assets/js/id.js" type="text/javascript"></script>
    <script src="assets/js/pikaday.js" type="text/javascript"></script>
    <script src="assets/js/qrcode.min.js" type="text/javascript"></script>
    <script src="assets/js/JsBarcode.all.min.js" type="text/javascript"></script>
    <script src="assets/js/chart.js" type="text/javascript"></script>
    <script src="assets/js/site.js" type="text/javascript"></script>


    <script src="private/app.js" type="text/javascript"></script>
    <script src="private/directive.js" type="text/javascript"></script>

    <script src="assets/js/angularModule.js"></script>
    <script src="assets/js/angular-datatables.min.js"></script>
    <script src="assets/js/angular-datatables.buttons.min.js"></script>

    <script src="assets/js/bootstrap-select.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script
        src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-1.13.6/b-2.4.2/sl-1.7.0/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/r-2.5.0/sb-1.6.0/sp-2.2.0/datatables.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
        integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        $(document).ready(function () {
            // Set global defaults for Bootstrap modals
            $.fn.modal.Constructor.Default.backdrop = 'static';
            $.fn.modal.Constructor.Default.keyboard = false; // Optional: Prevent closing the modal with the ESC key

            // // Initialize the specific modal
            // $("#add_edit_Company_modal").modal({
            //     show: false // Modal is hidden initially
            // });
        });
    </script>
    <th:block th:replace="${script}" />

</body>

</html>