<!DOCTYPE html>
<html th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}"></html>

<head>
    <title>Particulars</title>
</head>

<body>
    <section>
        <div ng-controller="particularController">
            <div class="breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/company-home}">
                                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="icon-common icon-breadcrumb icon-unit"></span><span>Particulars</span>
                        </li>
                    </ol>
                </nav>
            </div>
        
            <div class="body-area" ng-show="views.list">
                <div class="body-area-header">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="body-area-tittle">Particulars</div>
                        </div>
                        <div class="col-md-6">
                            <div class="body-area-action">
                                <a ng-click="AddParticulars()" class="float-end btn btn-icon btn-add me-2" title="Add Unit"><span class="icon-common icon-add"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-area-content">
                    <div class="user-table-container">
                        <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                            <thead>
                            <tr class="table-head-primary">
                                <th>SL No.</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Opening Balance</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="particular in particulars">
                                <td>{{$index + 1}}</td>
                                <td><span class="user-role">{{particular.name}}</span></td>
                                <td>
                                    <span ng-if="particular.type == 'HEAD'" class="user-role">Head</span>
                                    <span ng-if="particular.type == 'LINEITEM'" class="user-role">Line Item</span>
                                </td>
                                <td><span class="user-role">{{particular.openingBalance}}</span></td>
                                <td>
                                        <label class="switch">
                                            <input class="user" type="checkbox" data-id="2" ng-click="changeStatus(particular.id)" ng-model="particular.active" name="status" checked="">
                                            <span class="knob"></span>
                                        </label>
                                </td>
                                <td class="d-flex">
                                    <button type="button" class="btn btn-outline-primary me-2"  ng-click="editParticular(particular.id)">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        
        
             <!-- ====================Modal View======================= -->
             <div class="modal fade" id="add_edit_dept_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span ng-if="form.id==null || form.id==undefined">Add Particulars</span>
                                <span ng-if="form.id!=null && form.id!=undefined">Edit Particulars</span>
                            </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form" ng-submit="addEditSaveParticular()">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Name: <span class="text-danger">*</span>
                                            </label>
                                            <input name="name" type="text" ng-model="form.name" class="form-control" placeholder="Enter Name" ng-change="form.name = (form.name | uppercase)" required />
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium">
                                                Type: <span class="text-danger">*</span>
                                            </label>
                                            <select name="Type" ng-model="form.type" class="form-control select2"
                                                required>
                                                <option value="" disabled selected>Please Select</option>
                                                <option value="HEAD">Head</option>
                                                <option value="LINEITEM">Line Item</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div ng-if="form.type == 'HEAD' " class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="name">
                                                Opening Balance: <span class="text-danger">*</span>
                                            </label>
                                            <input name="name" type="number" step="0.01" ng-model="form.openingBalance" class="form-control" placeholder="Enter Name" />
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-modal-action" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success btn-modal-action">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <script src="private/controller/MasterController.js"></script>

</body>

</html>