<!DOCTYPE html>
<html
    th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

</html>

<head>
    <title>Release Notes</title>
</head>

<body>
    <section class="release-page">
        <h1 class="release-heading">What’s New</h1>

        <!-- Version 1.1 -->
        <div class="">
            
            <h2 class="version-title">Version 1.1 - Fixed minor bugs</h2>
            <span class="release-date">June 12, 2024</span>
            <h4 class="version-subtitle">Version 1.1.1</h4>
            <ul class="version-details">
                <li>Asset Serial can be updated Only by Admin from Asset Details -> Asset.</li>
                <li>Asset Dismiss available from Master Asset by admin.</li>
            </ul>
            <span class="release-date">June 12, 2024</span>
            <h4 class="version-subtitle">Version 1.1.0</h4>
            <ul class="version-details">
                <li>Users can now upload pictures which appear in the upper left corner.</li>
                <li>In employee details, pictures can now be added and displayed where the employee is assigned.</li>
                <li>Employee Excel uploads now support employee pictures.</li>
                <li>User profile functionality added.</li>
                <li>Design has been rethought and updated.</li>
                <li>Sidebar has been reorganized for improved usability.</li>
                <li>The sidebar now defaults to a closed state and can be reopened by clicking on the three bars or hovering over it.</li>
                <li>Logistics functionality has been removed from the application.</li>
                <li>In Master Asset details, users can now directly print asset barcode or QR codes.</li>
                <li>Google Lookup Dashboard has been added to the main dashboard page.</li>
            </ul>
            <!-- <img src="https://www.notion.so/cdn-cgi/image/format=auto,width=1200,quality=100/https://images.ctfassets.net/spoqsaf9291f/1GyUXXp88HG19jAsNlJPbb/17241702eb49abf797545859a5b07c3b/2.40-image-04__1_.png" alt="" class="release-img"> -->
        </div>

        <h2 class="pre-release-heading">Previous releases</h2>
        <!-- Version 1.0 -->
        <a href="" class="pre-release-link">
            <div class="">
                <span class="release-date">January 1, 2024</span>
                <h2 class="pre-version-title">Version 1.0 - Initial stable release</h2>
                <h4 class="pre-version-subtitle">Version 1.0 - Initial stable release</h4>
            </div>
        </a>
    </section>
    <script>
        $('#overlay').hide();
    </script>
</body>

</html>