<!DOCTYPE html>
<html
    th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

</html>

<head>
    <title>SRMPS | Release Notes</title>
</head>

<body>
    <section class="release-page">
        <h1 class="release-heading">What’s New</h1>
        <!-- Version 1.0 -->
        <a href="" class="pre-release-link">
            <div class="">
                <span class="release-date">July 1, 2024</span>
                <h2 class="pre-version-title">Version 1.0 - Initial stable release</h2>
                <h4 class="pre-version-subtitle">Version 1.0 - Initial stable release</h4>
            </div>
        </a>
    </section>
    <script>
        $('#overlay').hide();
    </script>
</body>

</html>