<!DOCTYPE html>
<html
    th:replace="~{base-layout :: layout(~{::title},~{::style} != null ? ~{::style} : null,~{::section},~{::script} != null ? ~{::script} : null)}">

</html>

<head>
    <title>Daily Transaction</title>
</head>

<body>
    <section>
        <div ng-controller="transactionController">
            <div class="breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/company-home}">
                                <span class="icon-common icon-breadcrumb icon-dashboard"></span><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="icon-common icon-breadcrumb icon-bill-generation"></span><span>Daily Transaction</span>
                        </li>
                    </ol>
                </nav>
            </div>

            <div class="body-area" ng-show="views.list">
                <div class="body-area-header">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="body-area-tittle">Transaction</div>
                        </div>
                        <div class="col-md-6">
                            <div class="body-area-action">
                                <a ng-click="AddParticular()" class="float-end btn btn-icon btn-add me-2"
                                    title="Add Unit"><span class="icon-common icon-add"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-area-content">
                    <div class="user-table-container">
                        <table class="user-table-view dataTable" datatable="ng" dt-options="dtOptions">
                            <thead>
                                <tr class="table-head-primary">
                                    <th>SL No.</th>
                                    <th>Particular</th>
                                    <th>Quantity</th>
                                    <th>IN</th>
                                    <th>OUT</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="transaction in transactions">
                                    <td>{{$index + 1}}</td>
                                    <td><span class="user-role">{{transaction.particularName}}</span></td>
                                    <td><span class="user-role">{{transaction.qty}}</span></td>
                                    <td><span class="user-role">{{transaction.inAmount}}</span></td>
                                    <td><span class="user-role">{{transaction.outAmount}}</span></td>
                                    <td>
                                        <label class="switch">
                                            <input class="user" type="checkbox" data-id="2"
                                                ng-click="changeStatus(transaction.id)" ng-model="transaction.active"
                                                name="status" checked="">
                                            <span class="knob"></span>
                                        </label>
                                    </td>
                                    <td class="d-flex">
                                        <button type="button" class="btn btn-outline-primary me-2" ng-click="editTransaction(transaction.id)">Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!-- ====================Modal View======================= -->
            <div class="modal fade" id="add_dept_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span>Add Transactions</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form" ng-submit="addTransaction()"
                                autocomplete="off">
                                <div class="row" ng-repeat="row in rows">
                                    <div class="col-lg-3 col-sm-3">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="cost">
                                                Particular: <span class="text-danger">*</span>
                                            </label>
                                            <select name="assetSubCatId" ng-model="row.particularId"
                                                class="form-control"
                                                ng-options="particular.id as particular.name for particular in particulars"
                                                ng-change="getParticularDetails(row.particularId,particulars,row)"
                                                required>
                                                <option value="" disabled selected>Please select a Particular</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-2">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="cost">
                                                Quantity:
                                            </label>
                                            <input name="cost" type="number" step="0.01" min="0.00" ng-model="row.qty"
                                                class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="cost">
                                                IN:
                                            </label>
                                            <input name="cost" type="number" step="0.01" min="0.00"
                                                ng-model="row.inAmount" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="cost">
                                                OUT:
                                            </label>
                                            <input name="cost" type="number" step="0.01" min="0.00"
                                                ng-model="row.outAmount" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-2 align-self-end">
                                        <div class="form-group">
                                            <a title="Delete" ng-click="removeRow($index)"
                                                class="btn btn-action btn-action-delete">
                                                <span class="icon-common icon-btn  icon-delete"></span>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="add-row-button"
                                        ng-click="addRow()">Add
                                        Row</button>
                                    <button type="button" class="btn btn-secondary btn-modal-action"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success btn-modal-action">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="edit_dept_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                                <span>Add Transactions</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span class="icon-common icon-modal-header-action  icon-x"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="addAdmin" role="form" ng-submit="updateTransaction()"
                                autocomplete="off">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="cost">
                                                Particular: <span class="text-danger">*</span>
                                            </label>
                                            <select name="assetSubCatId" ng-model="form.particularId"
                                                class="form-control"
                                                ng-options="particular.id as particular.name for particular in particulars"
                                                ng-change="getParticularDetails(row.particularId,particulars,row)"
                                                required>
                                                <option value="" disabled selected>Please select a Particular</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="cost">
                                                Quantity:
                                            </label>
                                            <input name="cost" type="number" step="0.01" min="0.00" ng-model="form.qty"
                                                class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="cost">
                                                IN:
                                            </label>
                                            <input name="cost" type="number" step="0.01" min="0.00"
                                                ng-model="form.inAmount" class="form-control"
                                                ng-disabled="form.outAmount > 0" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="text-dark lbl-medium" for="cost">
                                                OUT:
                                            </label>
                                            <input name="cost" type="number" step="0.01" min="0.00"
                                                ng-model="form.outAmount" class="form-control"
                                                ng-disabled="form.inAmount > 0" />
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-modal-action"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success btn-modal-action">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </section>

    <script src="private/controller/MasterController.js"></script>

    <script>
        flatpickr("#datepicker1", {
            dateFormat: "Y-m-d",
            allowInput: true,
            disableMobile: true,
        });
    </script>

</body>

</html>